Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

v0.10.12: Parallel manifest fetch, resilient registry, 15s timeout
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/https.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(lint): remove unused methods and fields for clippy compliance
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-fmt, cargo-clippy, cargo-test

v0.10.13: Fix DNS-over-HTTPS hanging on Android
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/dns.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(mobile): move blocking DNS methods to mobile-only impl block
  src/ciris-verify-core/src/dns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ffi): add crash guards to verify_integrity_token for reliability
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): correct mobile module paths for iOS/Android builds
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(ffi): add ffi_guard! crash guards to critical FFI functions
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ffi): add use-after-free detection and debug tracing for SIGSEGV
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

style: fix formatting issues
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

debug: add granular tracing to pinpoint SIGSEGV crash location
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Page-align __TEXT hash start for code-sign stability (v0.10.16)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): add defensive pointer validation to prevent SIGSEGV from argument shift bugs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: bump version to 0.10.17
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(ffi): use correct field name 'integrity_token' for Play Integrity API
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(crypto): embed production steward public keys for manifest verification
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/constructor.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Release v1.0.0: Production-ready hardware-rooted license verification
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

chore: bump to v1.0.1 for manifest signing test
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(ci): use Android ABI names for manifest targets
  .github/workflows/release.yml
Due: none

fix(ffi): add CIRIS_SKIP_EARLY_VERIFY env var to prevent dlopen deadlock
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/constructor.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): implement Linux library self-detection via /proc/self/maps
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: Use dyld image iteration for macOS binary self-hash (v1.0.5)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-ffi/src/constructor.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ios): Make function integrity advisory-only on iOS (v1.0.6)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ios): App Attest compensates for function integrity on iOS (v1.0.6)
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Add get_library_version() helper to Python bindings (v1.0.7)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/hooks/check-version-consistency.sh
Due: cargo-lock-check, version-consistency

fix(android): use ABI names for Android target in binary verification
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: add platform-specific verification docs with DMV analogy and disclaimers
  docs/BINARY_SELF_VERIFICATION.md
  docs/HOW_IT_WORKS.md
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(linux): correct PIE/ASLR function integrity verification
  src/ciris-verify-core/src/security/function_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add TPM dual-key architecture to open items
  docs/OPEN_ITEMS.md
Due: none

style: format function_integrity.rs
  Cargo.lock
  src/ciris-verify-core/src/security/function_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(dns): replace ciris-services-2.ai with ciris-services-eu-1.com
  CLAUDE.md
  FSD/FSD-001_CIRISVERIFY_PROTOCOL.md
  README.md
  docs/HOW_IT_WORKS.md
  docs/REGISTRY_INTEGRATION_REQUIREMENTS.md
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/config.rs
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-ffi/src/android_sync.rs
  src/ciris-verify-ffi/src/ios_sync.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: bump version to 1.1.0
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(tpm): modularize TPM implementation with dual-key architecture
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/examples/tpm_attest.rs
  src/ciris-keyring/src/platform/tpm.rs
  src/ciris-keyring/src/platform/tpm/detection.rs
  src/ciris-keyring/src/platform/tpm/keys.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/platform/tpm/signing.rs
  src/ciris-keyring/src/signer.rs
  src/ciris-keyring/src/types.rs
  src/ciris-verify-core/src/dns.rs
  src/ciris-verify-core/src/https.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/security/function_integrity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(tpm): gate module exports for conditional compilation
  src/ciris-keyring/src/platform/tpm/keys.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/platform/tpm/signing.rs
Due: cargo-fmt, cargo-clippy, cargo-test

style: apply rustfmt to tpm_attest.rs example
  src/ciris-keyring/examples/tpm_attest.rs
  src/ciris-keyring/src/platform/tpm/keys.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/platform/tpm/signing.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(examples): gate tpm_attest for Linux/Windows only
  src/ciris-keyring/examples/tpm_attest.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(tests): remove tautological assertions from TPM detection test
  src/ciris-keyring/src/platform/tpm/detection.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(tpm-windows): add missing ak_public_key field
  src/ciris-keyring/src/platform/tpm_windows.rs
Due: cargo-fmt, cargo-clippy, cargo-test

style: apply rustfmt
  src/ciris-keyring/src/platform/tpm_windows.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(version): update Python __version__ to 1.1.1
  CLAUDE.md
  bindings/python/ciris_verify/__init__.py
  docs/REGISTRY_INTEGRATION_REQUIREMENTS.md
Due: version-consistency

chore: bump version to 1.1.2, add CI version consistency check
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/REGISTRY_INTEGRATION_REQUIREMENTS.md
Due: cargo-lock-check, version-consistency

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
