Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

feat(14.2.0): fedcode carries a PQC commitment, so a code-admitted key is registrable (#272)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-003_FEDERATION_IDENTITY_CODES.md
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/federation_identity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(#272): the producer must EMIT the commitment, or the support is inert
  CLAUDE.md
  src/ciris-verify-core/src/federation_identity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#272): say at mint time when a code cannot be admitted
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(14.2.0): fedcode carries a PQC commitment, so a code-admitted key is registrable (#272) (#273)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-003_FEDERATION_IDENTITY_CODES.md
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/federation_identity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(15.0.0)!: FedCode is non_exhaustive + admission is unconstructible unless verified (#274); CC decimals assigned (#275)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-003_FEDERATION_IDENTITY_CODES.md
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  scripts/bump-version.sh
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(15.0.0)!: FedCode is non_exhaustive + admission is unconstructible unless verified (#274); CC decimals assigned (#275) (#276)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-003_FEDERATION_IDENTITY_CODES.md
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  scripts/bump-version.sh
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: name the outside reviews so 'no crypto audit' cannot be misread as covered
  docs/STANDARDS_COMPARISON.md
Due: none

docs: name the outside reviews so 'no crypto audit' cannot be misread as covered (#277)
  docs/STANDARDS_COMPARISON.md
Due: none

feat(15.1.0): aes_gcm encrypt_aad/decrypt_aad — bind a sealed blob to its referencing row (#279)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/aes_gcm.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(15.1.0): aes_gcm encrypt_aad/decrypt_aad — bind a sealed blob to its referencing row (#279) (#280)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/aes_gcm.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(15.2.0): the manifest Contribution references its own blob — evidence_refs: [manifest_hash] (#281)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_manifest_contribution.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-ffi/src/wheel_manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(deps): rustls >= 0.23.45 for RUSTSEC-2026-0285 (TLS 1.3 cross-encryption-level handshake acceptance)
  CLAUDE.md
  Cargo.lock
Due: none

feat(15.2.0): the manifest Contribution references its own blob — evidence_refs: [manifest_hash] (#281) (#282)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_manifest_contribution.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-ffi/src/wheel_manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(16.0.0)!: remove hw_token::get_token_signer — an orphan stub citing a closed issue that misled a custody review (#283)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/hw_token.rs
  src/ciris-keyring/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(deps): cryptoki patched for RUSTSEC-2026-0286 (OOB read decoding CKA_ALLOWED_MECHANISMS)
  CLAUDE.md
  Cargo.lock
Due: none

feat(16.0.0)!: remove hw_token::get_token_signer — an orphan stub citing a closed issue that misled a custody review (#283) (#284)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/hw_token.rs
  src/ciris-keyring/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(16.1.0): create_federation_identity_in(keys_dir, …) — the caller chooses where the ML-DSA half is sealed (#285)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_federation_identity.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(#285 review): refuse a malformed keys_dir; preflight it before the PIV slot is consumed
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(16.1.0): create_federation_identity_in(keys_dir, …) — the caller chooses where the ML-DSA half is sealed (#285) (#286)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_federation_identity.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(16.2.0): the ALM golden the §19 vector set was missing, and a freeze claim that was not true (#207 item 5)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/tests/conformance_vectors_v19.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19/domain_separators.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/relay_capacity/canonical_bytes.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(16.2.0): the ALM golden the §19 vector set was missing, and a freeze claim that was not true (#207 item 5) (#287)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/tests/conformance_vectors_v19.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19/domain_separators.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/relay_capacity/canonical_bytes.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Report an absent key as KeyNotFound on every backend, so the plugin can mint
  src/ciris-keyring/src/storage/android.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Release 16.2.1
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

16.2.1: report an absent key as KeyNotFound on every backend, so the TPM plugin can mint (#289)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/storage/android.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(16.3.0): EVM tx signing takes the FIELDS — RLP + keccak inside the boundary (#207 item 2)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_evm_tx.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/secp256k1.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(16.3.0): EVM tx signing takes the FIELDS — RLP + keccak inside the boundary (#207 item 2) (#290)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_evm_tx.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/secp256k1.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(17.0.0)!: Ed25519 verification was permissive, and permissive accepts a universal forgery (#207 item 1)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_raw_verify.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/ed25519.rs
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/threshold.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: record the Ed25519 acceptance-rule DRY pass across edge/server/persist/agent
  docs/CRYPTO_DRY_ASSESSMENT.md
Due: none

feat(17.0.0)!: fold #292 and #293 into the MAJOR — supersede archived the key it just minted; Android demanded a challenge the wire can't carry
  CLAUDE.md
  src/ciris-keyring/src/storage/ios.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-verify-core/src/device_attestation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(17.0.0)!: three breaking corrections in one MAJOR — permissive Ed25519 verify, supersede archiving its own fresh key, Android's uncarryable challenge (#207 item 1, #292, #293) (#291)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_raw_verify.py
  bindings/python/pyproject.toml
  docs/CRYPTO_DRY_ASSESSMENT.md
  src/ciris-crypto/src/ed25519.rs
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/storage/ios.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-verify-core/src/device_attestation.rs
  src/ciris-verify-core/src/threshold.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: correct four doc comments citing 16.4.0, a version that never shipped
  src/ciris-crypto/src/ed25519.rs
  src/ciris-verify-core/src/threshold.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: FSD-004 said "not ratified, not implemented" — both halves were false
  CLAUDE.md
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

feat(17.1.0): a lagging replica was reported as a possible attack, once per cycle (#223)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/validation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(17.1.0): backlog triage — a lagging replica was reported as a possible attack, once per cycle (#223); FSD-004 claimed it was unimplemented (#98) (#294)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/validation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(18.0.0)!: every hardware_custody:* dimension was refused by persist >= 50 (#296, #297 item 2); scrub derived seeds (#295)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/types.py
  bindings/python/pyproject.toml
  scripts/check-hardware-custody-tokens.sh
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/types.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/device_attestation.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/keys.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: four Codex findings on #298 — the custody token claimed hardware for a software-held key
  CLAUDE.md
  bindings/python/ciris_verify/types.py
  scripts/check-hardware-custody-tokens.sh
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(18.0.0)!: #297 item 1 — lowercase InvocationKind under ciris.accord_invoke.v2
  .github/workflows/ci.yml
  CLAUDE.md
  scripts/check-cc-registry-tokens.sh
  src/ciris-keyring/src/types.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/humanity_accord.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(18.0.0)!: hardware_custody:* was refused by persist ≥ 50, and the accord's CONSTITUTIONAL was case-malformed (#296, #297 items 1–2, #295) (#298)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/types.py
  bindings/python/pyproject.toml
  scripts/check-cc-registry-tokens.sh
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/types.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/device_attestation.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/humanity_accord.rs
  src/ciris-verify-core/src/keys.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: the module header still showed the uppercase kind it had just stopped emitting
  src/ciris-verify-core/src/humanity_accord.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(19.0.0)!: the build-manifest Contribution is persist's shape; eight families carry the R3 tail; standing is the substrate's (#299, FSD-006)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-006_MANIFEST_LIFECYCLE.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_manifest_contribution.py
  bindings/python/pyproject.toml
  scripts/check-cc-registry-tokens.sh
  src/ciris-build-tool/src/sign.rs
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/build_attestation_bundle.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/locale_merkle.rs
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-core/src/security/build_manifest.rs
  src/ciris-verify-core/src/skill_import.rs
  src/ciris-verify-core/src/steward_key.rs
  src/ciris-verify-ffi/src/wheel_manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
