Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

.pre-commit-config.yaml:

# Pre-commit hooks for CIRISVerify
# Install: pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Local hooks for Rust
  - repo: local
    hooks:
      # Ensure Cargo.lock is up to date with workspace versions
      - id: cargo-lock-check
        name: Check Cargo.lock is current
        entry: scripts/hooks/check-cargo-lock.sh
        language: script
        pass_filenames: false
        files: 'Cargo\.toml$'

      # Check formatting
      - id: cargo-fmt
        name: Rust format check
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]

      # Run clippy
      - id: cargo-clippy
        name: Rust clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

      # Run lib tests (fast â€” no integration/proptest hang risk)
      - id: cargo-test
        name: Rust lib tests
        entry: cargo test --all --lib
        language: system
        pass_filenames: false
        types: [rust]

      # Check version consistency across files
      - id: version-consistency
        name: Check version consistency
        entry: scripts/hooks/check-version-consistency.sh
        language: script
        pass_filenames: false
        files: '(Cargo\.toml|pyproject\.toml|__init__\.py)$'

feat(13.0.0)!: adopt the arity ruling — frames refused when undeclared, binding split into its two dispositions (#248) (#249)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/classification.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/trust_anchor_store.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: describe verify independent of CIRIS + refresh the peer analysis
  README.md
  docs/STANDARDS_COMPARISON.md
  src/ciris-verify-core/examples/readme_android.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#200, #250): locale wire name accepted on input + evidence re-stamp with a validated header
  evidence/cc_impl.tsv
  src/ciris-verify-core/src/locale_merkle.rs
  tools/check_evidence.py
Due: cargo-fmt, cargo-clippy, cargo-test

test(#250): self-test the evidence guard and run it in CI
  .github/workflows/ci.yml
  tools/check_evidence.py
Due: none

docs: verify described independent of CIRIS + peer analysis refresh; fix #200, close #250 (#251)
  .github/workflows/ci.yml
  README.md
  docs/STANDARDS_COMPARISON.md
  evidence/cc_impl.tsv
  src/ciris-verify-core/examples/readme_android.rs
  src/ciris-verify-core/src/locale_merkle.rs
  tools/check_evidence.py
Due: cargo-fmt, cargo-clippy, cargo-test

fix(13.1.0): bind the SUBJECT, not just the signer — three surfaces (#252)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/subject_binding.rs
  src/ciris-verify-core/src/transport_binding.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(13.1.0): bind the SUBJECT, not just the signer — three surfaces (#252) (#253)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/subject_binding.rs
  src/ciris-verify-core/src/transport_binding.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(13.2.0): export the subject-binding projections as data; make the transport plane probeable (#254)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/subject_binding.rs
  src/ciris-verify-core/src/transport_binding.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(13.2.0): export the subject-binding projections as data; make the transport plane probeable (#254) (#255)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/subject_binding.rs
  src/ciris-verify-core/src/transport_binding.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(13.3.0): a 429 is not a revocation; a schema mismatch is not "unreachable"
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/error.rs
  src/ciris-verify-core/src/https.rs
  src/ciris-verify-core/src/revocation.rs
  src/ciris-verify-core/src/validation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(13.3.0): a 429 is not a revocation; a schema mismatch is not "unreachable" (#256)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/error.rs
  src/ciris-verify-core/src/https.rs
  src/ciris-verify-core/src/revocation.rs
  src/ciris-verify-core/src/validation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(13.3.1): Retry-After is a floor, not a ceiling; a rate-limited gate is inconclusive, not failed
  .github/workflows/post-release-verify.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/revocation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(13.3.1): Retry-After is a floor, not a ceiling; a rate-limited gate is inconclusive, not failed (#258)
  .github/workflows/post-release-verify.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/revocation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(13.4.0): scoped RNS destinations — k_destination + derive_destination (#259)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_scope_privacy.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-verify-ffi/src/wheel_scope_privacy.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(13.4.0): scoped RNS destinations — k_destination + derive_destination (#259) (#260)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_scope_privacy.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-verify-ffi/src/wheel_scope_privacy.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(13.5.0): pin the MLS exporter label — v13.4.0's spec was unimplementable (#259)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/scope_privacy.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: retired EU registry hostname was live on BOTH mobile platforms (#11)
  .github/workflows/ci.yml
  CLAUDE.md
  docs/HOW_IT_WORKS.md
  docs/REGISTRY_INTEGRATION_REQUIREMENTS.md
  scripts/check-no-retired-hostnames.sh
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-ffi/src/android_sync.rs
  src/ciris-verify-ffi/src/ios_sync.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(13.5.0): pin the MLS exporter label (#259) + the retired EU hostname was live on both mobile platforms (#11) (#261)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/HOW_IT_WORKS.md
  docs/REGISTRY_INTEGRATION_REQUIREMENTS.md
  scripts/check-no-retired-hostnames.sh
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-ffi/src/android_sync.rs
  src/ciris-verify-ffi/src/ios_sync.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(13.6.0): encode CC 5.4.6's announce prohibition as a checkable rule (#262)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-verify-core/src/announce_policy.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore: bump h2 0.4.15 -> 0.4.16 (RUSTSEC-2026-0258)
  Cargo.lock
Due: none

feat(13.6.0): encode CC 5.4.6's announce prohibition as a checkable rule (#262) (#263)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-verify-core/src/announce_policy.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(13.6.1): the epoch-binding is contingent — CC 5.4.6's Position names on what
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-verify-core/src/announce_policy.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(13.6.1): the epoch-binding is contingent — CC 5.4.6's Position names on what (#264)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-verify-core/src/announce_policy.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(#268 review): bind the top-level expiry, stop a truncate panic, widen the secret guard
  scripts/check-no-secret-logging.sh
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/subject_binding.rs
  src/ciris-verify-ffi/src/conformance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#268 review round 2): Validity type, fail-closed FFI expiry, match-scoped allowlist
  scripts/check-no-secret-logging.sh
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#268 review round 3): one validity rule for both entry points; guard scanner ignores literals
  scripts/check-no-secret-logging.sh
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#268 review round 4): make unvalidated Validity unconstructible; guard covers capture + member access
  scripts/check-no-secret-logging.sh
  src/ciris-verify-core/src/federation_identity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#268 review round 5): producers validate the window; guard's comment strip respects literals
  scripts/check-no-secret-logging.sh
  src/ciris-verify-core/src/federation_self_record.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#268 review round 6): one tokenizer for the guard, and a self-test for the matrix
  .github/workflows/ci.yml
  scripts/check-no-secret-logging.sh
  scripts/test-secret-logging-guard.sh
Due: none

fix(#268 review round 7): validate before PIV provisioning; guard covers #[instrument]
  scripts/check-no-secret-logging.sh
  scripts/test-secret-logging-guard.sh
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#268 review round 8): event!/span! + skip_all fields; one canonical expiry text
  scripts/check-no-secret-logging.sh
  scripts/test-secret-logging-guard.sh
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/federation_self_record.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(#268 review round 9): sign the canonical expiry; don't truncate it; match qualified instrument
  scripts/check-no-secret-logging.sh
  scripts/test-secret-logging-guard.sh
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/federation_self_record.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(14.1.0): manifest-hash check stops crying wolf and starts checking files (#224); fedcode v3 embeds owned nodes (#269)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/security/file_integrity.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(14.1.0): manifest-hash check stops crying wolf and starts checking files (#224); fedcode v3 embeds owned nodes (#269) (#270)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  evidence/cc_impl.tsv
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/security/file_integrity.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: keyring key mints go through the SP 800-90B latch (#207 item 6); name the steward-key drift (#176)
  CLAUDE.md
  evidence/cc_impl.tsv
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/keyring_storage.rs
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/sealed_ed25519.rs
  src/ciris-keyring/src/sealed_mldsa65.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/transport_identity.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/https.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(#268 review): the VerifiedJson branch was dead code, plus 10 more
  FSD/FSD-003_FEDERATION_IDENTITY_CODES.md
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/sealed_ed25519.rs
  src/ciris-keyring/src/sealed_mldsa65.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/transport_identity.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/https.rs
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/src/security/file_integrity.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: an already-failed RNG latch is decisive; drop a mutex that protected nothing
  src/ciris-keyring/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: keyring key mints go through the SP 800-90B latch (#207 item 6); name the steward-key drift (#176) (#271)
  CLAUDE.md
  FSD/FSD-003_FEDERATION_IDENTITY_CODES.md
  evidence/cc_impl.tsv
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/keyring_storage.rs
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/sealed_ed25519.rs
  src/ciris-keyring/src/sealed_mldsa65.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/transport_identity.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/https.rs
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/src/security/file_integrity.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency
