Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

ci: post-release-verify builds ciris-verify CLI in-workflow
  .github/workflows/post-release-verify.yml
Due: none

release(v1.12.1): pickup post-release-verify workflow fix
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(v1.12.2): defensive _find_binary — platform suffix order + site-packages fallback (closes #13)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  bindings/python/tests/test_client.py
Due: cargo-lock-check, version-consistency

feat(v1.13.0): runtime tree-walking verifier verify_tree() (closes #9)
  .github/workflows/post-release-verify.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/ciris_verify/types.py
  bindings/python/pyproject.toml
  bindings/python/tests/test_client.py
  docs/RUNTIME_TREE_VERIFIER.md
  src/ciris-build-tool/Cargo.toml
  src/ciris-build-tool/tests/parity_with_verify_tree.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/tree_verify.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.13.1): rustdoc broken-intra-doc-links + resilient PyPI propagation poll
  .github/workflows/post-release-verify.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/tree_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.13.2): install libtss2 in post-release-verify (Linux wheel TPM dep)
  .github/workflows/post-release-verify.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

chore(v1.13.3): SonarCloud quick wins on Python client.py (CIRISVerify#14)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(v1.14.0): demote Missing from verify_tree fail (closes #15)
  .github/workflows/post-release-verify.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/types.py
  bindings/python/pyproject.toml
  bindings/python/tests/test_client.py
  docs/RUNTIME_TREE_VERIFIER.md
  src/ciris-verify-core/src/tree_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v2.0.0)!: federation crypto authority — ciris-crypto AES-GCM + KDF + HMAC + RNG (closes #7)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/RELEASE_NOTES_v2.0.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/aes_gcm.rs
  src/ciris-crypto/src/error.rs
  src/ciris-crypto/src/hmac.rs
  src/ciris-crypto/src/kdf.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/random.rs
  src/ciris-keyring/Cargo.toml
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(threat-model): v2.0 update — federation crypto authority + SOTA peer comparison + role coverage
  docs/THREAT_MODEL.md
Due: none

docs(federation-tm): v2.0 update — C0 RNG formalized + new §3.5 federation crypto authority pattern
  docs/FEDERATION_THREAT_MODEL.md
Due: none

fix(v2.0.1): exact-pin ml-dsa + panic=unwind so ffi_guard actually catches (closes #18)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/Cargo.toml
Due: cargo-lock-check, version-consistency

fix(v2.0.2): pin pkcs8 transitive — ml-dsa rc.8's caret outflanks v2.0.1's exact pin (closes #18 reopen)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/Cargo.toml
Due: cargo-lock-check, version-consistency

ci(post-release-verify): poll PyPI simple index, not JSON API
  .github/workflows/post-release-verify.yml
Due: none

feat(v2.0.3): CanonicalBuild v2 with target field (closes #8)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/src/register.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v2.0.4): Self-heal orphaned hardware markers on iOS reinstall
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/bump-version.sh
  src/ciris-keyring/src/software.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v2.0.5): single-source-of-truth __TEXT hash for Mach-O sign/runtime parity (closes #19)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/bump-version.sh
  src/ciris-manifest-tool/src/manifest.rs
  src/ciris-verify-core/src/binary_format.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci(post-release-verify): probe PyPI propagation via pip dry-run, not curl
  .github/workflows/post-release-verify.yml
Due: none

feat(v2.1.0): ciris-keyring::load_steward_seed public loader (closes #20)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/steward_seed.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci(v2.1.1): responsible CI hardening — continue-on-error on cache, retry-on-timeout on network installs
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

ci(v2.1.2): toolchain sanity check + repair (defang macOS rustup-init shadow)
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

ci(v2.1.3): move rustup-init guard AFTER Swatinem cache restore
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

ci(v2.1.4): active heal guard + cache-bin:false to stop rustup-init poisoning
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

ci(v2.1.5): shell: bash on the active-heal guard for Windows runners
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(v2.2.0): rate-limit-aware registry probing + packaged bootstrap keyset
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/error.rs
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/tree_verify.rs
  src/ciris-verify-ffi/data/bootstrap_stewards.json
  src/ciris-verify-ffi/src/bootstrap_keyset.rs
  src/ciris-verify-ffi/src/constructor.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v2.3.0): transparency log SOTA upgrade (RFC 6962 + STH + ConsistencyProof + generic leaf)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/transparency.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci(post-release-verify): accept v2.2.0+ \"not_yet_registered\" registry_error shape
  .github/workflows/post-release-verify.yml
Due: none

refactor(v2.4.0)!: hard rename steward_seed -> local_seed (vocabulary fix)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/local_seed.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v2.5.0): lift derive_symmetric_key into ciris-verify-core as a Rust API
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/keys.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

perf(v2.6.0): transparency level cache + security hardening + bench CI
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/transparency.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(v2.6.1): fix rustdoc private-intra-doc-link in transparency
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/transparency.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

perf(v2.7.0): benchmark suite — transparency, federation crypto, leak gate
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/BENCHMARKS.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/benches/federation_crypto.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/benches/key_derivation.rs
  src/ciris-verify-core/benches/transparency_merkle.rs
  src/ciris-verify-core/tests/alloc_stability.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(benchmarks): fold in the v2.7.0 CI baseline numbers
  docs/BENCHMARKS.md
Due: none

docs(readme): cut README 461→71 lines — lead with what we are + SOTA
  README.md
Due: none

perf(v2.8.0): AES-256-GCM via ring — ~9.5× bulk throughput (closes #26)
  .gitignore
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/BENCHMARKS.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/aes_gcm.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(benchmarks): fold in v2.8.0 CI numbers — ring AES-GCM baseline
  docs/BENCHMARKS.md
Due: none

feat(v2.9.0): FederationEnvelope substrate (AV-42) + MISSION.md charter
  Cargo.lock
  Cargo.toml
  MISSION.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/FEDERATION_THREAT_MODEL.md
  docs/THREAT_MODEL.md
  src/ciris-verify-core/src/error.rs
  src/ciris-verify-core/src/federation_envelope.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/bootstrap_keyset.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v2.10.0): derive_transport_identity + MISSION.md CIRISOssicle note
  Cargo.lock
  Cargo.toml
  MISSION.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/keys.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v2.11.0): crypto-agility gate + migration plan (closes §10 Gap 6)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/CRYPTO_AGILITY.md
  docs/THREAT_MODEL.md
  src/ciris-crypto/src/types.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v2.12.0): transparency-log witness cosigning (#29 WS-3)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/transparency.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
