Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

.pre-commit-config.yaml:

# Pre-commit hooks for CIRISVerify
# Install: pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Local hooks for Rust
  - repo: local
    hooks:
      # Ensure Cargo.lock is up to date with workspace versions
      - id: cargo-lock-check
        name: Check Cargo.lock is current
        entry: scripts/hooks/check-cargo-lock.sh
        language: script
        pass_filenames: false
        files: 'Cargo\.toml$'

      # Check formatting
      - id: cargo-fmt
        name: Rust format check
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]

      # Run clippy
      - id: cargo-clippy
        name: Rust clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

      # Run lib tests (fast â€” no integration/proptest hang risk)
      - id: cargo-test
        name: Rust lib tests
        entry: cargo test --all --lib
        language: system
        pass_filenames: false
        types: [rust]

      # Check version consistency across files
      - id: version-consistency
        name: Check version consistency
        entry: scripts/hooks/check-version-consistency.sh
        language: script
        pass_filenames: false
        files: '(Cargo\.toml|pyproject\.toml|__init__\.py)$'

docs(accord): sync FSD-004 to CC 0.5 — ratified §4.2.6 + expanded (bias gradient, reverse-quorum) (#147)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/humanity_accord.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: harden crates.io fetch against the recurring HTTP/2 SSL-eof flake
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
Due: none

docs(accord): FSD-004 adversarial review — Phase 0 gate COMPLETE
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
  FSD/FSD-004_ADVERSARIAL_REVIEW.md
Due: none

feat(accord): live-quorum Phase 1 step 1 — proposal/participation objects (FSD-004)
  src/ciris-verify-core/src/accord_live_quorum.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(accord): live-quorum Phase 1 step 2 — tally + fire-floor-of-1 (FSD-004)
  src/ciris-verify-core/src/accord_live_quorum.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(accord): live-quorum Phase 1 step 3 — roster rebuild (FSD-004)
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/accord_live_quorum.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: auto-cancel superseded CI runs (concurrency group)
  .github/workflows/ci.yml
Due: none

feat(accord): live-quorum Phase 1 step 4 — decision object + equivocation gate (FSD-004)
  src/ciris-verify-core/src/accord_live_quorum.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(accord): live-quorum Phase 1 step 5 — resumption (un-fire) asymmetry (FSD-004)
  src/ciris-verify-core/src/accord_live_quorum.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(accord): live-quorum Phase 1 step 6 — bounded steward recovery roll-back (H7)
  FSD/FSD-004_ADVERSARIAL_REVIEW.md
  src/ciris-verify-core/src/accord_live_quorum.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: harden crates.io fetch against the recurring HTTP/2 SSL-eof flake (#148)
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
Due: none

feat(accord): live-quorum Phase 1 step 1 — proposal/participation objects (FSD-004) (#150)
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
  FSD/FSD-004_ADVERSARIAL_REVIEW.md
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/accord_live_quorum.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): v8.2.0 — tag the accord live-quorum machinery (#150) for downstream adoption
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(crypto): v8.3.0 — derive self content-encryption keypairs from the Ed25519 seed (#151)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_self_enc.py
  bindings/python/pyproject.toml
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/self_enc.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_self_enc.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(crypto): v8.3.0 — derive self content-encryption keypairs from the Ed25519 seed (#151) (#152)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_self_enc.py
  bindings/python/pyproject.toml
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/self_enc.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_self_enc.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci(cache): align CIRISCache substrate key to the canonical cross-repo scheme (#153)
  .github/workflows/ci.yml
Due: none

ci(cache): align CIRISCache substrate key to the canonical cross-repo scheme (#153) (#154)
  .github/workflows/ci.yml
Due: none

ci(cache): save CIRISCache on build-android + build-ios — close the mobile cross-repo gap (#155)
  .github/workflows/ci.yml
Due: none

ci(cache): save CIRISCache on build-android + build-ios — close the mobile cross-repo gap (#155) (#156)
  .github/workflows/ci.yml
Due: none

feat(ffi): external-token Ed25519 sign callback for federation-identity mint
  Cargo.lock
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/callback_signer.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): commit the HUMANITY_ACCORD custody trail + CI-enforced verification
  .gitignore
  accord_ceremony_artifacts/README.md
  accord_ceremony_artifacts/custody_attestations/A1.json
  accord_ceremony_artifacts/custody_attestations/A2.json
  accord_ceremony_artifacts/custody_attestations/B1.json
  accord_ceremony_artifacts/custody_attestations/B2.json
  accord_ceremony_artifacts/custody_attestations/C1.json
  accord_ceremony_artifacts/custody_attestations/C2.json
  accord_ceremony_artifacts/holders/A1.json
  accord_ceremony_artifacts/holders/A2.json
  accord_ceremony_artifacts/holders/B1.json
  accord_ceremony_artifacts/holders/B2.json
  accord_ceremony_artifacts/holders/C1.json
  accord_ceremony_artifacts/holders/C2.json
  accord_ceremony_artifacts/humanity_accord_genesis.json
  accord_ceremony_artifacts/yubico-attestation-root-1.pem
  src/ciris-verify-core/tests/accord_ceremony_custody.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(deps): bump anyhow 1.0.102 -> 1.0.103 (RUSTSEC-2026-0190)
  Cargo.lock
Due: none

feat(accord): commit the HUMANITY_ACCORD custody trail + CI-enforced verification (#157)
  .gitignore
  Cargo.lock
  accord_ceremony_artifacts/README.md
  accord_ceremony_artifacts/custody_attestations/A1.json
  accord_ceremony_artifacts/custody_attestations/A2.json
  accord_ceremony_artifacts/custody_attestations/B1.json
  accord_ceremony_artifacts/custody_attestations/B2.json
  accord_ceremony_artifacts/custody_attestations/C1.json
  accord_ceremony_artifacts/custody_attestations/C2.json
  accord_ceremony_artifacts/holders/A1.json
  accord_ceremony_artifacts/holders/A2.json
  accord_ceremony_artifacts/holders/B1.json
  accord_ceremony_artifacts/holders/B2.json
  accord_ceremony_artifacts/holders/C1.json
  accord_ceremony_artifacts/holders/C2.json
  accord_ceremony_artifacts/humanity_accord_genesis.json
  accord_ceremony_artifacts/yubico-attestation-root-1.pem
  src/ciris-verify-core/tests/accord_ceremony_custody.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: harden against recurring CI flakes + kill toolchain noise
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
Due: none

ci: harden against recurring CI flakes + kill toolchain noise (#158)
  .github/workflows/ci.yml
  .github/workflows/post-release-verify.yml
Due: none

ci: arch-partition the build-ios Swatinem cache key (fix ahash cross-arch cache poisoning)
  .github/workflows/ci.yml
Due: none

ci: arch-partition the build-ios Swatinem cache key (fix ahash cross-arch cache poisoning) (#159)
  .github/workflows/ci.yml
Due: none

feat(accord): v8.4.0 — HUMANITY_ACCORD holders as the genesis-mesh rooting anchor (#160)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/provenance.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v8.4.0 — HUMANITY_ACCORD holders as the genesis-mesh rooting anchor (#160) (#161)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/provenance.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v8.5.0 — produce_scrubbed_key_record, an accord holder admits a node (#162)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/federation_self_record.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v8.5.0 — produce_scrubbed_key_record, an accord holder admits a node (#162) (#163)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/federation_self_record.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore(deps): drop provably-unused deps (cargo machete + grep verified) (#164)
  Cargo.lock
  Cargo.toml
  src/ciris-build-tool/Cargo.toml
  src/ciris-crypto/Cargo.toml
  src/ciris-manifest-tool/Cargo.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, version-consistency

chore(deps): drop provably-unused deps (cargo machete + grep verified) (#164) (#166)
  Cargo.lock
  Cargo.toml
  src/ciris-build-tool/Cargo.toml
  src/ciris-crypto/Cargo.toml
  src/ciris-manifest-tool/Cargo.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, version-consistency

feat: v8.6.0 — dep trim + hickory 0.25 de-dup + §19.7 dominance surface (#164/#165/#167)
  .cargo/audit.toml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  deny.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/dns.rs
  src/ciris-verify-core/src/holonomic/aggregation.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/tests/conformance_vectors_v19_7.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/aggregation_meta/canonical_bytes_v2.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat: v8.6.0 — dep trim + hickory 0.25 de-dup + §19.7 dominance surface (#164/#165/#167) (#168)
  .cargo/audit.toml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  deny.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/dns.rs
  src/ciris-verify-core/src/holonomic/aggregation.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/tests/conformance_vectors_v19_7.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/aggregation_meta/canonical_bytes_v2.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: retry the post-release PyPI install on ANY error (CDN-edge lag), not just timeout
  .github/workflows/post-release-verify.yml
Due: none

ci: retry the post-release PyPI install on ANY error (CDN-edge lag), not just timeout (#169)
  .github/workflows/post-release-verify.yml
Due: none

feat(v8.7.0): #170 — StorageBudgetV1 + CorpusWantV1 (CC 6.1.5.2 §Q) in holonomic
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/src/holonomic/preimage.rs
  src/ciris-verify-core/src/holonomic/storage_contention.rs
  src/ciris-verify-core/tests/conformance_vectors_v19_7.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/corpus_want/canonical_bytes.json
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/storage_budget/canonical_bytes.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v8.8.0): #172 — embed optional transport_hints in the signed key-record envelope
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v8.8.0): #172 — embed optional transport_hints in the signed key-record envelope (#173)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency
