Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

feat(v2.13.0): runtime-loadable signed keyset loader (#29 WS-2)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/bootstrap_keyset.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

test+ci: harden two CI flake classes (root-cause fixes, not retries)
  .config/nextest.toml
  .github/workflows/ci.yml
  src/ciris-verify-core/src/transparency.rs
  tests/ios/run_conformance_macos.sh
Due: cargo-fmt, cargo-clippy, cargo-test

feat(v2.14.0): federation-key provenance verification (#29 WS-4)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/provenance.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v3.0.0): CIRISVerify 3.0 — Federation Ready (closes #29)
  Cargo.lock
  Cargo.toml
  MISSION.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/THREAT_MODEL.md
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/federation_envelope.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: refresh stale version stamps + roadmap header for v3.0.0
  README.md
  docs/IMPLEMENTATION_ROADMAP.md
  docs/THREAT_MODEL.md
Due: none

chore(v3.0.1): drop the v2.1.x hardcoded-steward fallback (#29 deferral)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/bootstrap_keyset.rs
  src/ciris-verify-ffi/src/constructor.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: fix stale fallback comment in run_verification (v3.0.1 follow-up)
  src/ciris-verify-ffi/src/constructor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(v3.1.0): M-of-N threshold-signature primitive + federation-keyset canonical bytes
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/federation_keyset.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/threshold.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: harden Sigstore signing against Fulcio/Rekor transient failures
  .github/workflows/release.yml
Due: none

docs: HARDWARE_ATTESTATION.md — the consumer guide for the attestation surface
  docs/HARDWARE_ATTESTATION.md
Due: none

feat(v3.2.0): federation_provenance scalar-attestation surface (closes #33)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/types.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/android_sync.rs
  src/ciris-verify-ffi/src/ios_sync.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v3.3.0): to_attestation_entries on the 3 hw-attest responses (#34 wiring)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/app_attest.rs
  src/ciris-verify-core/src/play_integrity.rs
  src/ciris-verify-core/src/tpm_attest.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v3.4.0): BuildManifest::to_attestation_entries — closes #35
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/security/build_manifest.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v3.5.0): AttestBundle — UI-shaped attestation projection (closes #36)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v3.6.0): measurement-shaped AttestBundle + FFI + Python wiring (#36)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: fix broken intra-doc link to AttestBundle in FFI crate
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: refresh README + MISSION + THREAT_MODEL against main at v3.6.0
  MISSION.md
  README.md
  docs/THREAT_MODEL.md
Due: none

docs: persist#108 resolved by persist v2.6.0 — update §7 / §11.4
  MISSION.md
  docs/THREAT_MODEL.md
Due: none

feat(v3.7.0): drop L1-L5 ladder from verify wire shape — measurements only
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  MISSION.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/HOW_IT_WORKS.md
  docs/THREAT_MODEL.md
  src/ciris-verify-core/src/app_attest.rs
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/play_integrity.rs
  src/ciris-verify-core/src/tpm_attest.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v3.8.0): carrier-ready surface for skill_import + per-locale build_manifest (#37 Phase 1)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/federation_provenance.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v3.9.0): SkillImportManifest::verify + per-locale Merkle composition (#37 Phase 2)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/locale_merkle.rs
  src/ciris-verify-core/src/skill_import.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v4.0.0-rc1): CEG 0.2 §5.2 mechanism rename + §0.5/§0.6 canon tightening (#38)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/app_attest.rs
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/play_integrity.rs
  src/ciris-verify-core/src/skill_import.rs
  src/ciris-verify-core/src/tpm_attest.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v4.0.0-rc2): CEG 0.2 §10.0.1 + §10.1.1 + §10.3.1 verifiers (#38)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/ceg_error.rs
  src/ciris-verify-core/src/holds_bytes.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/transparency.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v4.0.0-rc3): §10.2 cert_validity wiring + fractal-self framing (#38)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  MISSION.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/steward_key.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

release(v4.0.0): CEG 0.2 Federation Conformance (closes #38)
  Cargo.lock
  Cargo.toml
  MISSION.md
  README.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/THREAT_MODEL.md
  src/ciris-keyring/Cargo.toml
Due: cargo-lock-check, version-consistency

feat(v4.1.0): impl ciris-keyring::PqcSigner for ciris-crypto::MlDsa65Signer (closes #39)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/pqc.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v4.2.0): conformance cross-wheel boundary — §4 / §0.5 / §9.2.1 / §10.3.1 (closes #40 #41 #42)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/humanity_accord.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/witness_relation.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: fix broken intra-doc link in steward_key.rs
  src/ciris-verify-core/src/steward_key.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(v4.3.0): rusqlite bundled Android-only — closes CIRISPersist#132/#133 wheel-tier
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, version-consistency

feat(v4.4.0): X25519 + key-grant wrap primitive — multimedia tier crypto surface (closes #44)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/key_grant.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/x25519.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v4.4.1): bundle rusqlite on Windows + macOS; libsqlite3-dev install for Linux native + cross
  .github/workflows/post-release-verify.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, version-consistency

fix(v4.4.2): restore android_system_properties under correct target table
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, version-consistency

fix(v4.4.3): drop macOS from rusqlite/bundled (#45 / CIRISPersist#141)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, version-consistency

docs(fed-tm): v1.0 → v1.1 — R1/Q1 contracts + F-AV-RECONSIDER-DOS (#46 #48 #49)
  docs/FEDERATION_THREAT_MODEL.md
Due: none

feat(v4.5.0): F-AV-RECONSIDER-DOS defense primitives + CEG codes (closes #46)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/ceg_error.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/reconsider_dos.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v4.6.0): hybrid X25519 + ML-KEM-768 KEX — Gap C closed (closes #47)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/FEDERATION_THREAT_MODEL.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/hybrid_kex.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/ml_kem.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: fix broken intra-doc link in reconsider_dos.rs
  src/ciris-verify-core/src/reconsider_dos.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(fed-tm): v1.1 audit pass — strip stale 'unspecified/unfilled' refs
  docs/FEDERATION_THREAT_MODEL.md
Due: none

build: add cargo-doc pre-commit hook to catch intra-doc-link breaks
  .pre-commit-config.yaml
Due: none

feat(v4.7.0): full wheel-surface coverage + 15s budget enforcement (closes #50)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_wheel_hybrid_kex.py
  bindings/python/ciris_verify/_wheel_key_grant.py
  bindings/python/ciris_verify/_wheel_locale_merkle.py
  bindings/python/ciris_verify/_wheel_reconsider_dos.py
  bindings/python/ciris_verify/_wheel_skill_import.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_hybrid_kex.rs
  src/ciris-verify-ffi/src/wheel_key_grant.rs
  src/ciris-verify-ffi/src/wheel_locale_merkle.rs
  src/ciris-verify-ffi/src/wheel_reconsider_dos.rs
  src/ciris-verify-ffi/src/wheel_skill_import.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
