Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

.pre-commit-config.yaml:

# Pre-commit hooks for CIRISVerify
# Install: pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Local hooks for Rust
  - repo: local
    hooks:
      # Ensure Cargo.lock is up to date with workspace versions
      - id: cargo-lock-check
        name: Check Cargo.lock is current
        entry: scripts/hooks/check-cargo-lock.sh
        language: script
        pass_filenames: false
        files: 'Cargo\.toml$'

      # Check formatting
      - id: cargo-fmt
        name: Rust format check
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]

      # Run clippy
      - id: cargo-clippy
        name: Rust clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

      # Run lib tests (fast â€” no integration/proptest hang risk)
      - id: cargo-test
        name: Rust lib tests
        entry: cargo test --all --lib
        language: system
        pass_filenames: false
        types: [rust]

      # Check version consistency across files
      - id: version-consistency
        name: Check version consistency
        entry: scripts/hooks/check-version-consistency.sh
        language: script
        pass_filenames: false
        files: '(Cargo\.toml|pyproject\.toml|__init__\.py)$'

fix(v4.7.1): defer early-verify off .init_array — Linux dlopen deadlock (closes #51)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/constructor.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v4.8.0): robust parallel-path attestation with strict budgets (closes #52)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/attest_heartbeat.rs
  src/ciris-verify-core/src/config.rs
  src/ciris-verify-core/src/http_client.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/parallel_race.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

test(unified): make probe race-winner test Windows-compatible
  src/ciris-verify-core/src/unified.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(fed-tm): v1.2 audit pass — close F-AV consumer-body sweep claimed by v1.1 (closes #48 #49)
  docs/FEDERATION_THREAT_MODEL.md
Due: none

bench(crypto): add ML-KEM-768 + hybrid_kex + classical_kex + key_grant groups (#53 phase 1)
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/benches/federation_crypto.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

bench(crypto): liboqs AVX2 cross-check benches (#53 phase 2)
  Cargo.lock
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/benches/liboqs_comparison.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v4.8.1): Android probe semantic + decouple local checks from network race (closes #56 fixes 1+3)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: pass full required-features to federation_crypto bench compile-check
  .github/workflows/bench.yml
  .github/workflows/ci.yml
Due: none

ci: bench compile-check honors the v4.8.x federation_crypto feature set
  .github/workflows/ci.yml
Due: none

feat(substrate): CEG 0.11+ cohort_subkind: infrastructure community substrate (closes #31)
  src/ciris-verify-core/src/federation_keyset.rs
  src/ciris-verify-core/src/infrastructure_community.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/threshold.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(crypto): C0 RNG startup health-check + fail-secure gate (closes #55)
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/error.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/random.rs
  src/ciris-crypto/src/rng_health.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(doc-integrity): hybrid-signed doc attestation + two-person-rule (closes #54 phases 1+2)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  src/ciris-verify-core/src/doc_integrity.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): v4.9.0 — RNG health-check + doc-integrity substrate
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

docs: capture CEWP platform orientation (closes #43)
  docs/CEWP_ORIENTATION.md
Due: none

feat(crypto): key_grant wrap_algorithm v2 (X25519+ML-KEM-768) — v4.10.0 (closes #58)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/key_grant.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(jcs): RFC 8785 canonicalizer + Contribution hybrid-sig verify path — v4.11.0 (#59)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/jcs.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci(post-release): fix PyPI-propagation false-fail (two-consecutive-success gate)
  .github/workflows/post-release-verify.yml
Due: none

feat(jcs): expose jcs_canonicalize as a Python binding (closes #61)
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_jcs.py
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_jcs.rs
Due: cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(attestation): emit boundary_degraded distinct from hardware_trust_degraded (closes #60)
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): v5.0.0 — CEG 1.0 / Agent 3.0 substrate release
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
Due: cargo-lock-check, version-consistency

docs: v5.0 / CEG 0.15 threat-model pass — Fed TM v1.3 + AV-39/AV-12 + status refresh
  CLAUDE.md
  docs/FEDERATION_THREAT_MODEL.md
  docs/THREAT_MODEL.md
Due: none

docs: HUMANITY_ACCORD 6-key genesis provisioning runbook
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
Due: none

docs: correct client topology — KMP client in CIRISAgent/client, CIRISGUI orphaned
  CLAUDE.md
  docs/CEWP_ORIENTATION.md
Due: none

feat(operational-admit): CEG 1.0-RC2 §5.6.8.13 admit surface — role-chain resolver + partner_record quorum (v5.1.0)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_operational_admit.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/operational_admit.rs
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_operational_admit.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(win7): TPM-1.2 degrades to software tier + Win7-loadable wheel lane (v5.1.1)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/factory.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(win7): build-std crate list must include panic_abort (v5.1.2)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(win7): bump dirs 5→6 to drop windows-targets 0.48.5 (Tier-3 link fix) (v5.1.3)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, version-consistency

feat(threshold): single strict-majority M-of-N QuorumPolicy guard (#69 increment 1)
  src/ciris-verify-core/src/threshold.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(keyring): TransportIdentityKeystore — keyring-backed RNS transport identity (#68, v5.2.0)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/transport_identity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): SealedEd25519Signer — TPM/SE-sealed Ed25519 federation key (#70, v5.3.0)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/sealed_ed25519.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(provenance): identity_type set-membership for RC5 §7.0.1 conformance (v5.3.1)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/provenance.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat: transport_binding verifier (#28) + ML-KEM-768 FIPS 203 KAT (#53 P4) + generic HW-token abstraction (#62) (v5.4.0)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/ml_kem.rs
  src/ciris-keyring/src/hw_token.rs
  src/ciris-keyring/src/lib.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/transport_binding.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): SealedMlDsa65Signer — PQC half of hardware-backed federation custody (#71, v5.5.0)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/sealed_mldsa65.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(security): v5.6.0 — adversarial audit remediation (CRITICAL license gate + 3 HIGH)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/src/lib.rs
  src/ciris-crypto/benches/federation_crypto.rs
  src/ciris-crypto/src/ecdsa.rs
  src/ciris-crypto/src/ed25519.rs
  src/ciris-crypto/src/ml_dsa.rs
  src/ciris-crypto/src/ml_kem.rs
  src/ciris-crypto/src/random.rs
  src/ciris-crypto/src/rng_health.rs
  src/ciris-crypto/src/x25519.rs
  src/ciris-crypto/tests/crypto_properties.rs
  src/ciris-keyring/src/pqc.rs
  src/ciris-keyring/src/sealed_ed25519.rs
  src/ciris-keyring/src/sealed_mldsa65.rs
  src/ciris-keyring/src/storage/tpm.rs
  src/ciris-verify-core/benches/build_manifest.rs
  src/ciris-verify-core/src/doc_integrity.rs
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/federation_envelope.rs
  src/ciris-verify-core/src/federation_keyset.rs
  src/ciris-verify-core/src/jcs.rs
  src/ciris-verify-core/src/jwt.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/operational_admit.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/self_at_login.rs
  src/ciris-verify-core/src/threshold.rs
  src/ciris-verify-core/src/transparency.rs
  src/ciris-verify-core/src/transport_binding.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-core/src/validation.rs
  src/ciris-verify-core/tests/it/validation.rs
  src/ciris-verify-ffi/src/bootstrap_keyset.rs
  src/ciris-verify-ffi/src/wheel_operational_admit.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(ceg-rc7): v5.7.0 — hybrid-required at federation-tier (HNDL) + RC7 #76/#77
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_operational_admit.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/jwt.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/operational_admit.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/self_at_login.rs
  src/ciris-verify-core/src/threshold.rs
  src/ciris-verify-core/src/transport_binding.rs
  src/ciris-verify-ffi/src/wheel_operational_admit.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(threat-model): v5.7.0 hybrid-required enforcement pass
  docs/FEDERATION_THREAT_MODEL.md
  docs/THREAT_MODEL.md
Due: none

fix(bench): drop spurious .unwrap() before .expect() on Ed25519Signer::random()
  src/ciris-crypto/benches/federation_crypto.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): v5.7.1 — bench-compile fix + threat-model docs (green-CI tag)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(holonomic): v5.8.0 — CEG 1.0-RC11 §19 holonomic substrate verifiers (#78)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/holonomic/alm.rs
  src/ciris-verify-core/src/holonomic/av_chunk.rs
  src/ciris-verify-core/src/holonomic/bootstrap.rs
  src/ciris-verify-core/src/holonomic/fountain.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/src/holonomic/preimage.rs
  src/ciris-verify-core/src/holonomic/wholeness_witness.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(holonomic): v5.9.0 — §19 proven cross-impl vs CIRISEdge v4.1.2 vectors (#57 freeze gate green)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/holonomic/bootstrap.rs
  src/ciris-verify-core/src/holonomic/fountain.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/src/holonomic/preimage.rs
  src/ciris-verify-core/src/holonomic/wholeness_witness.rs
  src/ciris-verify-core/tests/conformance_vectors_v19.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19/domain_separators.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/fountain_compress_request/canonical_bytes.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/fountain_holding_claim/canonical_bytes.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/merkle_root/empty_sentinel.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/merkle_root/lex_sort_invariance.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/merkle_root/single_leaf.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/merkle_root/three_leaves_odd_dup.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/schema_versions.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/signed_claim/canonical_bytes_no_owner_binding.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/signed_claim/canonical_bytes_with_owner_binding.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/wholeness_witness/canonical_preimage_empty.json
  src/ciris-verify-core/tests/vectors/holonomic_v19/wholeness_witness/canonical_preimage_three_namespaces.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency
