Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

.pre-commit-config.yaml:

# Pre-commit hooks for CIRISVerify
# Install: pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Local hooks for Rust
  - repo: local
    hooks:
      # Ensure Cargo.lock is up to date with workspace versions
      - id: cargo-lock-check
        name: Check Cargo.lock is current
        entry: scripts/hooks/check-cargo-lock.sh
        language: script
        pass_filenames: false
        files: 'Cargo\.toml$'

      # Check formatting
      - id: cargo-fmt
        name: Rust format check
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]

      # Run clippy
      - id: cargo-clippy
        name: Rust clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

      # Run lib tests (fast â€” no integration/proptest hang risk)
      - id: cargo-test
        name: Rust lib tests
        entry: cargo test --all --lib
        language: system
        pass_filenames: false
        types: [rust]

      # Check version consistency across files
      - id: version-consistency
        name: Check version consistency
        entry: scripts/hooks/check-version-consistency.sh
        language: script
        pass_filenames: false
        files: '(Cargo\.toml|pyproject\.toml|__init__\.py)$'

feat(v8.9.0): #174 — multi-scrub / append-a-scrub producers for canonical KeyRecords
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/federation_self_record.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v8.9.0): #174 — multi-scrub / append-a-scrub producers for canonical KeyRecords (#175)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/federation_self_record.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v8.10.0): #176 — 'ciris-verify manifest sign' CLI (the canonical build-manifest producer)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v8.10.0): #176 — 'ciris-verify manifest sign' CLI (the canonical build-manifest producer) (#177)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v8.10.1): manifest-sign outbox id includes target (multi-target collision, #176)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v8.10.1): manifest-sign outbox id includes target (multi-target collision, #176) (#178)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: pin rustc to exact 1.97.0 to align the CIRISCache substrate key across the centipede (#179)
  rust-toolchain.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: install rustc 1.97.0 in the toolchain steps too, not just pin the channel (#179)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  rust-toolchain.toml
Due: none

ci: pin rustc to exact 1.97.0 — align the CIRISCache substrate key across the centipede (#179) (#180)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  rust-toolchain.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(8.11.0): ciris-build-sign pubkey — surface an existing pipeline keypair's pubkeys for blessing (CIRISServer#193/#176)
  .github/workflows/export-pipeline-pubkeys.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/src/sign.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(8.11.0): ciris-build-sign pubkey — surface an existing pipeline keypair's pubkeys for blessing (CIRISServer#193/#176) (#182)
  .github/workflows/export-pipeline-pubkeys.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/src/sign.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(8.12.0): self content-enc as a custody capability — SelfEncKeys + produce_signed_identity_occurrence + by-alias FFI (#183, arc 1/4)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_self_enc.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/self_enc_keys.rs
  src/ciris-verify-core/src/transport_binding.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/wheel_self_enc.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

test(#183): gate seal-based self-enc tests off macOS/iOS — platform keychain blocks headless CI
  src/ciris-keyring/src/self_enc_keys.rs
  src/ciris-verify-ffi/src/wheel_self_enc.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(8.12.0): self content-enc as a custody capability — SelfEncKeys + signed-occurrence producer + by-alias FFI (#183, arc 1/4) (#184)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_self_enc.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/self_enc_keys.rs
  src/ciris-verify-core/src/transport_binding.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/wheel_self_enc.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(9.0.0)!: accord co-scrub carries infra:attest; manifest trust root folds onto the co-scrub, retiring delegates_to (#185)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(9.0.0)!: accord co-scrub carries infra:attest; manifest trust root folds onto the co-scrub, retiring delegates_to (#185) (#186)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

build(9.0.1): emit rlib from ciris-verify-ffi so ciris-server can bundle the verify FFI (#187)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, version-consistency

build(9.0.1): emit rlib from ciris-verify-ffi so ciris-server can bundle the verify FFI (#187) (#188)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, version-consistency

feat(9.0.2): ciris_verify_ffi_link_anchor() keeps the FFI surface from dead-stripping in ciris-server's rlib fold (#189)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/check-ffi-link-anchor.sh
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(9.0.2): ciris_verify_ffi_link_anchor() keeps the FFI surface from dead-stripping in ciris-server's rlib fold (#189) (#190)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/check-ffi-link-anchor.sh
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.0.0)!: AggregationMetaV1 v3 — content-similarity multiplicity + auditable masses (#191, CC 6.1.2.1.2 R9)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/holonomic/aggregation.rs
  src/ciris-verify-core/tests/conformance_vectors_v19_7.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/aggregation_meta/canonical_bytes_v3.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.0.0)!: AggregationMetaV1 v3 — content-similarity multiplicity + auditable masses (#191, CC 6.1.2.1.2 R9) (#192)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/holonomic/aggregation.rs
  src/ciris-verify-core/tests/conformance_vectors_v19_7.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/aggregation_meta/canonical_bytes_v3.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.1.0): CC 5.1 epoch-key derivation (#193) + re-export the #191 v3 fns at the holonomic root (#194)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_epoch_key.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/epoch_key.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_epoch_key.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.1.0): CC 5.1 epoch-key derivation (#193) + re-export the #191 v3 fns at the holonomic root (#194) (#195)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_epoch_key.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/epoch_key.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_epoch_key.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.1.1): delete ALL platform constructors — Windows DllMain deadlocked the loader (#197)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/check-no-loader-callbacks.sh
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/constructor.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.1.1): delete ALL platform constructors — Windows DllMain deadlocked the loader (#197) (#198)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/check-no-loader-callbacks.sh
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/constructor.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.2.0): compile-time-fenced test-only trust-root / custody relaxation for the local mesh harness (#202)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_test_anchor.py
  bindings/python/pyproject.toml
  docs/RELEASE_CHECKLIST.md
  scripts/check-no-test-anchor-in-release.sh
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/accord_custody_attestation.rs
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/test_anchor.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.2.0): compile-time-fenced test-only trust-root / custody relaxation for the local mesh harness (#202) (#203)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_test_anchor.py
  bindings/python/pyproject.toml
  docs/RELEASE_CHECKLIST.md
  scripts/check-no-test-anchor-in-release.sh
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/accord_custody_attestation.rs
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/test_anchor.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.3.0): ciris-keyring sync->async bridge is reentrancy-safe — fixes the mobile fold-boot block_on-under-ambient-runtime panic (#204)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/check-keyring-block-on.sh
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/rt.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/storage/android.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.3.0): ciris-keyring sync->async bridge is reentrancy-safe — fixes the mobile fold-boot block_on-under-ambient-runtime panic (#204) (#205)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  scripts/check-keyring-block-on.sh
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/rt.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/storage/android.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.4.0): crypto-DRY — fix provenance-chain verifier preimage (rejected every real record) + export re-implemented surfaces
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/CRYPTO_DRY_ASSESSMENT.md
  src/ciris-crypto/src/ed25519.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/transparency.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.4.0): crypto-DRY — fix provenance-chain verifier preimage (rejected every real record) + export re-implemented surfaces (#206)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/CRYPTO_DRY_ASSESSMENT.md
  src/ciris-crypto/src/ed25519.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/provenance.rs
  src/ciris-verify-core/src/transparency.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.5.0): parameterize provenance terminus role set — unblock CIRISPersist fork collapse (#208)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/provenance.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.5.0): parameterize provenance terminus role set — unblock CIRISPersist fork collapse (#208) (#209)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/provenance.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.5.1): mobile registry fetches must not park the async runtime — restores RACE_BUDGET/NOT_FOUND_GRACE on android/iOS (#212)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(10.5.1): mobile registry fetches must not park the async runtime — restores RACE_BUDGET/NOT_FOUND_GRACE on android/iOS (#212) (#214)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/mobile_http.rs
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.6.0): CC 2.3.2.1 canonical-hash subject codec — bare hex is no longer silently admitted (#201)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_canonical_subject.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/canonical_subject.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_canonical_subject.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(10.6.0): CC 2.3.2.1 canonical-hash subject codec — bare hex is no longer silently admitted (#201) (#215)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_canonical_subject.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/canonical_subject.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_canonical_subject.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: retry-harden the transient-failure surface (the v10.6.0 release died on an apt flake)
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: retry-harden the transient-failure surface (the v10.6.0 release died on an apt flake) (#216)
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
