Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

.pre-commit-config.yaml:

# Pre-commit hooks for CIRISVerify
# Install: pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Local hooks for Rust
  - repo: local
    hooks:
      # Ensure Cargo.lock is up to date with workspace versions
      - id: cargo-lock-check
        name: Check Cargo.lock is current
        entry: scripts/hooks/check-cargo-lock.sh
        language: script
        pass_filenames: false
        files: 'Cargo\.toml$'

      # Check formatting
      - id: cargo-fmt
        name: Rust format check
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]

      # Run clippy
      - id: cargo-clippy
        name: Rust clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

      # Run lib tests (fast â€” no integration/proptest hang risk)
      - id: cargo-test
        name: Rust lib tests
        entry: cargo test --all --lib
        language: system
        pass_filenames: false
        types: [rust]

      # Check version consistency across files
      - id: version-consistency
        name: Check version consistency
        entry: scripts/hooks/check-version-consistency.sh
        language: script
        pass_filenames: false
        files: '(Cargo\.toml|pyproject\.toml|__init__\.py)$'

fix(19.0.0): one digest form per build descriptor — binary_hash is bare hex like manifest_hash (CC 2.6.3)
  FSD/FSD-006_MANIFEST_LIFECYCLE.md
  src/ciris-build-tool/src/sign.rs
  src/ciris-verify-core/src/manifest_contribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(FSD-006): the mesh witness — a verify-minted Contribution admitted (201, accord_role) and replicated with its bytes
  FSD/FSD-006_MANIFEST_LIFECYCLE.md
Due: none

docs(19.0.0): CC 4.2.1 ratified the accord-role bless; a reader MUST ask both planes
  CLAUDE.md
  FSD/FSD-006_MANIFEST_LIFECYCLE.md
  src/ciris-verify-core/src/manifest_contribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test

19.0.0: the build-manifest Contribution is persist's shape; eight families carry the R3 tail; standing is the substrate's (#299, FSD-006) (#301)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  FSD/FSD-006_MANIFEST_LIFECYCLE.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_manifest_contribution.py
  bindings/python/pyproject.toml
  scripts/check-cc-registry-tokens.sh
  src/ciris-build-tool/src/sign.rs
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/attest_bundle.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/build_attestation_bundle.rs
  src/ciris-verify-core/src/federation_provenance.rs
  src/ciris-verify-core/src/locale_merkle.rs
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-core/src/security/build_manifest.rs
  src/ciris-verify-core/src/skill_import.rs
  src/ciris-verify-core/src/steward_key.rs
  src/ciris-verify-ffi/src/wheel_manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(19.1.0): one chunk seal across live and stored streams — the A/V inner nonce is the CC 5.3.3.1 STREAM nonce (#303)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/CRYPTO_DRY_ASSESSMENT.md
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/stream_seal.rs
  src/ciris-verify-core/src/holonomic/av_chunk.rs
  src/ciris-verify-core/src/holonomic/mod.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(19.1.0): av_inner_nonce's chunk_seq is the epoch-local index, not the stream-global position
  src/ciris-verify-core/src/holonomic/av_chunk.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(#305): a constitutional halt fires on one holder's signature; resumption needs a standing-roster majority (CIRISConstitution#146)
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/accord_live_quorum.rs
  src/ciris-verify-core/src/humanity_accord.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(#305): verify a halt through the wheel; the CLI stops telling a holder pulling the switch to wait
  CLAUDE.md
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_accord_invocation.py
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(20.0.0)!: the halt fuse — a one-holder pause lapses a day after receipt unless a majority confirms it (CIRISConstitution#146 amended, #305)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_accord_invocation.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/accord_halt_latch.rs
  src/ciris-verify-core/src/accord_live_quorum.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/holonomic/av_chunk.rs
  src/ciris-verify-core/src/humanity_accord.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

evidence(20.0.0): cite CLM-halt-one-row (CC 4.2.1.1) — required_signatures, HaltLatch::apply, verify_for_latch
  evidence/cc_impl.tsv
Due: none

docs(20.0.0): FSD-005 said no single holder can fire; FSD-004 described the retired fire path as current
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
  FSD/FSD-005_HUMANITY_ACCORD.md
Due: none

feat(20.1.0): bind a build manifest's binary_hash to the wheel's own version — a signed manifest could attest an old wheel as current (#306, CIRISPersist#1029)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/src/sign.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/security/build_manifest.rs
  src/ciris-verify-core/src/security/mod.rs
  src/ciris-verify-core/src/security/wheel.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(20.1.0): bind a build manifest's binary_hash to the wheel's own version — a signed manifest could attest an old wheel as current (#306, CIRISPersist#1029) (#307)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/src/sign.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/security/build_manifest.rs
  src/ciris-verify-core/src/security/mod.rs
  src/ciris-verify-core/src/security/wheel.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency
