Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

.pre-commit-config.yaml:

# Pre-commit hooks for CIRISVerify
# Install: pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Local hooks for Rust
  - repo: local
    hooks:
      # Ensure Cargo.lock is up to date with workspace versions
      - id: cargo-lock-check
        name: Check Cargo.lock is current
        entry: scripts/hooks/check-cargo-lock.sh
        language: script
        pass_filenames: false
        files: 'Cargo\.toml$'

      # Check formatting
      - id: cargo-fmt
        name: Rust format check
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]

      # Run clippy
      - id: cargo-clippy
        name: Rust clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

      # Run lib tests (fast â€” no integration/proptest hang risk)
      - id: cargo-test
        name: Rust lib tests
        entry: cargo test --all --lib
        language: system
        pass_filenames: false
        types: [rust]

      # Check version consistency across files
      - id: version-consistency
        name: Check version consistency
        entry: scripts/hooks/check-version-consistency.sh
        language: script
        pass_filenames: false
        files: '(Cargo\.toml|pyproject\.toml|__init__\.py)$'

feat(v1.6.2): iOS conformance test harness and CI integration
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  src/ciris-keyring/src/storage/ios.rs
  src/ciris-verify-ffi/src/constructor.rs
  tests/ios/CIRISConformanceTest.entitlements
  tests/ios/CIRISConformanceTest.xcodeproj/project.pbxproj
  tests/ios/main.swift
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: Clear stale hardware markers when key becomes inaccessible
  src/ciris-keyring/src/platform/android.rs
  src/ciris-keyring/src/platform/ios.rs
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-keyring/src/software.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(v1.6.3): Clear stale hardware markers when key becomes inaccessible
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix: Use HardwareNotAvailable instead of KeyNotFound for stale marker error
  src/ciris-keyring/src/software.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(v1.6.4): Use system SQLite on iOS to fix SQLiteDatabaseTracking crash
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, version-consistency

fix: Ignore RUSTSEC-2026-0104 rustls-webpki CRL parsing advisory
  deny.toml
Due: none

docs: Add PoB substrate primitives design doc (v1.7 + v1.8)
  docs/POB_SUBSTRATE_PRIMITIVES.md
Due: none

feat(keyring): Add StorageDescriptor trait method (P1.1-P1.5 of v1.7)
  src/ciris-keyring/src/keyring_storage.rs
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/platform/android.rs
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/ios.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm_windows.rs
  src/ciris-keyring/src/signer.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(ffi+bindings): Expose StorageDescriptor through FFI/Python/Swift (P1.6-P1.7 of v1.7)
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/ciris_verify/types.py
  bindings/swift/CIRISVerify-Bridging-Header.h
  bindings/swift/CIRISVerify.swift
  src/ciris-keyring/src/types.rs
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore(v1.7.0): Bump version + document StorageDescriptor (P1.8-P1.9)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  docs/HOW_IT_WORKS.md
Due: cargo-lock-check, version-consistency

docs(v1.8): Design BuildManifest validator (P2.1)
  docs/BUILD_MANIFEST.md
Due: none

feat(verify-core): Add generic BuildManifest validator (P2.2-P2.6 of v1.8)
  src/ciris-verify-core/src/security/build_manifest.rs
  src/ciris-verify-core/src/security/function_integrity.rs
  src/ciris-verify-core/src/security/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(qa): Add criterion benches + Python memory baseline + run-qa.sh
  .gitignore
  Cargo.lock
  Cargo.toml
  bindings/python/tests/test_memory_baseline.py
  docs/BENCHMARKS.md
  scripts/run-qa.sh
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/benches/storage_descriptor.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/benches/build_manifest.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(build-tool): Ship ciris-build-sign + ciris-build-verify CLIs (P2.7-P2.9 of v1.8)
  Cargo.lock
  Cargo.toml
  docs/BUILD_MANIFEST.md
  src/ciris-build-tool/Cargo.toml
  src/ciris-build-tool/src/lib.rs
  src/ciris-build-tool/src/sign.rs
  src/ciris-build-tool/src/verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore(v1.8.0): Bump version + wire build-tool into release workflow (P2.10)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
Due: cargo-lock-check, version-consistency

feat(v1.8.1): Add file-tree + function-level extras to ciris-build-sign (closes #2)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  src/ciris-build-tool/src/lib.rs
  src/ciris-build-tool/src/sign.rs
  src/ciris-verify-core/src/security/build_manifest.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore(v1.8.2): Self-attest CIRISVerify's own builds via ciris-build-sign (dogfood)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
Due: cargo-lock-check, version-consistency

fix(v1.8.3): Decode steward GHA secrets as hex|base64|raw (v1.8.2 dogfood retry)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
Due: cargo-lock-check, version-consistency

docs(threat-model): Refactor to goal-based grouping + SOTA gaps + per-AV residuals
  docs/THREAT_MODEL.md
Due: none

feat(v1.8.4): Consumer-side helpers for path-A reads + content-verify
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/security/build_manifest.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: Add AV-14 multi-instance cohabitation + operator contract
  docs/HOW_IT_WORKS.md
  docs/THREAT_MODEL.md
Due: none

docs: Inverted-pyramid doctrine — persist owns keyring bootstrap when present
  docs/HOW_IT_WORKS.md
  docs/THREAT_MODEL.md
Due: none

fix(ci): macOS test build + sync advisory ignores for RUSTSEC-2026-0119
  .cargo/audit.toml
  deny.toml
  src/ciris-keyring/Cargo.toml
Due: cargo-lock-check, version-consistency

docs: Persist-as-interface shape — verify is a public library, persist is the natural wrapper
  docs/HOW_IT_WORKS.md
  docs/THREAT_MODEL.md
Due: none

docs: Cross-reference registry's TRUST_CONTRACT, AV-26, AV-34, persist's federation_keys
  docs/BUILD_MANIFEST.md
  docs/THREAT_MODEL.md
Due: none

docs: Federation threat model v1.0 (first publication)
  docs/FEDERATION_THREAT_MODEL.md
Due: none

fix(ciris-crypto): ML-DSA signature sizes for FIPS 204 final (closes #4)
  src/ciris-crypto/src/hybrid.rs
  src/ciris-crypto/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): v1.8.5 — ML-DSA signature size fix
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

release(v1.8.6): Ship ciris-build-sign + ciris-build-verify in PyPI wheels
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_bin/.gitkeep
  bindings/python/ciris_verify/_bin_sign.py
  bindings/python/ciris_verify/_bin_verify.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(v1.9.0): PqcSigner trait + MlDsa65SoftwareSigner in ciris-keyring
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/pqc.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

threat-model: N1 + N2 covered by CIRISEdge (2026-05-03)
  docs/FEDERATION_THREAT_MODEL.md
Due: none

feat(v1.10.0): ciris-build-sign register subcommand (closes #6)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/Cargo.toml
  src/ciris-build-tool/src/lib.rs
  src/ciris-build-tool/src/register.rs
  src/ciris-build-tool/src/sign.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

release(v1.10.1): cut over to HTTP /v1/builds, content-aware register, dogfood
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/Cargo.toml
  src/ciris-build-tool/src/register.rs
  src/ciris-build-tool/src/sign.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.10.2): register always writes all 3 tables + dev-process self-cleaning
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/DEV_HYGIENE.md
  scripts/bump-version.sh
  scripts/clean-stale-targets.sh
  src/ciris-build-tool/src/register.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v1.11.0): RegistryClient is project-aware (no more silent default to ciris-agent)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/config.rs
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/constructor.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.11.1): register writes binary_hash (not manifest_hash) to binary_manifests
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/src/register.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.11.2): Step 5/6 walks agent_root when python_hashes is None (closes #12)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci(v1.11.3): switch zig install to mlugg/setup-zig (ziglang.org flake)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(v1.12.0)!: per-call project on RegistryClient (closes #10, #11)
  .github/workflows/post-release-verify.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/config.rs
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/constructor.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: drop intra-doc links to pub(crate) validate_project
  src/ciris-verify-core/src/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test
