Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

feat(keyring): add generic SecureBlobStorage with wallet seed migration
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore(v1.3.3): fix doc link, add license.rs test coverage
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-verify-core/src/license.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(storage): remove broken TpmSecureBlobStorage implementation
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(storage): implement TPM-backed secure blob storage for wallet seeds
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: bump version to 1.3.4
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(v1.3.5): close implementation gaps across modules
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-verify-core/src/audit.rs
  src/ciris-verify-core/src/config.rs
  src/ciris-verify-core/src/dns.rs
  src/ciris-verify-core/src/engine.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: function integrity offset bug + macOS SE fallback (v1.3.6)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/ios.rs
  src/ciris-manifest-tool/src/parser/macho.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: MacOsSecureEnclave type + platform_os field + keychain fallback (v1.3.7)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/ios.rs
  src/ciris-keyring/src/types.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: platform_os detection + hardware_backed diagnostic logging (v1.3.8)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: emulator detection false positive on older Samsung devices (v1.3.9)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/security/platform.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v1.4.0): hardware-backed SecureBlobStorage for wallet seeds
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/storage/android.rs
  src/ciris-keyring/src/storage/ios.rs
  src/ciris-keyring/src/storage/mod.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(android): make get_java_vm and get_keystore public for storage module
  src/ciris-keyring/src/platform/android.rs
  src/ciris-keyring/src/storage/android.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(android): disable AndroidKeystoreSecureBlobStorage pending JNI fixes
  src/ciris-keyring/src/storage/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(v1.4.1): Android JNI fixes for SecureBlobStorage
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/storage/android.rs
  src/ciris-keyring/src/storage/mod.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.4.2): Samsung qemud socket false positive in emulator detection
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/security/platform.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.4.3): Samsung/carrier "emulator" in ro.build.characteristics
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/security/platform.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.4.4): Samsung qemu-props false positive - require corroborating indicators
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/security/platform.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.4.5): Persist software signer keys to disk
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/software.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.4.6): TPM session wrapper for wallet seed storage
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/storage/tpm.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v1.5.0): Named key storage for WA signing
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  bindings/swift/CIRISVerify.swift
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.5.0): Add missing ciris_verify_free_string function
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(v1.5.1): Cache device attestation failures for correct level_pending
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.5.2): Correct level_pending logic for device attestation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(v1.5.3): Add ciris_verify_device_attestation_failed endpoint
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  bindings/swift/CIRISVerify.swift
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.5.4): Resolve Windows DLL base, bounds-check function reads, real TBS TPM probe
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/tpm/detection.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/security/function_integrity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(v1.5.5): Backport Windows bounds-check to Linux/Android/macOS, fix CI gates
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  deny.toml
  scripts/install-hooks.sh
  scripts/pre-commit.sh
  src/ciris-keyring/src/platform/tpm/detection.rs
  src/ciris-keyring/src/software.rs
  src/ciris-verify-core/src/security/function_integrity.rs
  src/ciris-verify-core/src/watchdog.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore: pre-commit hook honors cargo-deny exit code under pipe
  scripts/pre-commit.sh
Due: none

fix(python): Add missing argtypes for ciris_verify_generate_key
  bindings/python/ciris_verify/client.py
Due: none

fix(v1.5.6): Android 16KB page alignment for Play Store compatibility
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(v1.5.7): Address RUSTSEC-2026-0098/0099 rustls-webpki advisories
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  deny.toml
  src/ciris-crypto/src/ml_dsa.rs
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: Add .cargo/audit.toml to match deny.toml ignores
  .cargo/audit.toml
Due: none

feat: Add aarch64-unknown-linux-musl target for Home Assistant addon
  .cargo/config.toml
  deny.toml
Due: none

fix(v1.5.8): MSRV 1.86, Windows API features, HA platform
  .cargo/audit.toml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  deny.toml
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, version-consistency

feat(v1.5.9): Add musl build for Home Assistant / Alpine Linux
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix: zig objcopy can't strip in-place, use temp file
  .github/workflows/release.yml
Due: none

fix(v1.5.10): Link musl build with libunwind for _Unwind_* symbols
  .cargo/config.toml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(v1.5.11): Add Sigstore keyless signing for release artifacts
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(v1.6.0): Add Encryption API for named keys
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  bindings/swift/CIRISVerify-Bridging-Header.h
  clippy.toml
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat: Add platform conformance test harness
  bindings/swift/CIRISVerify-Bridging-Header.h
  src/ciris-verify-ffi/src/conformance.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(v1.6.1): Add cross-platform conformance test harness
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
  tests/android/.gitignore
  tests/android/conformance_test.c
  tests/android/run_conformance.sh
  tests/ios/ConformanceTest.swift
  tests/ios/run_conformance_macos.sh
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
