Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

docs(accord): runbook — PIV slot-9c provisioning + FIPS-approved-mode prep (#91) (#94)
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
Due: none

feat(accord): v6.8.0 — growable M-of-N family + membership-change supersedes + name-free labels (#95, #96)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

harden(accord): address adversarial review of the membership-change/supersede (#95, #96)
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(accord): v6.8.0 — growable M-of-N family + membership-change supersedes + name-free labels (#95, #96) (#97)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(crypto): ml-dsa 0.1.1 — outer SigningKey seed self-zeroizes + scrub from_seed_file (#87)
  Cargo.lock
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/ml_dsa.rs
  src/ciris-crypto/src/types.rs
  src/ciris-keyring/src/pqc.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(accord): FSD-004 — catastrophic-decimation recovery (emergency opposite-quorum) (#98)
  CLAUDE.md
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

docs(accord): FSD-004 — catastrophic-decimation recovery (emergency opposite-quorum) (#98) (#100)
  CLAUDE.md
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

fix(crypto): ml-dsa 0.1.1 — outer SigningKey seed self-zeroizes + scrub from_seed_file (#87) (#99)
  Cargo.lock
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/ml_dsa.rs
  src/ciris-crypto/src/types.rs
  src/ciris-keyring/src/pqc.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(accord): rewrite FSD-004 to the live-quorum model (#98)
  CLAUDE.md
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

docs(accord): rewrite FSD-004 to the live-quorum model (#98) (#101)
  CLAUDE.md
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

chore(release): v6.8.1 — ship the ml-dsa 0.1.1 seed-zeroize fix (#87)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

docs(accord): FSD-004 — fire floor=1, 72h roster window, HF/JS8Call proof-of-life channel (#98)
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

docs(accord): FSD-004 — fire floor=1, 72h roster window, HF/JS8Call proof-of-life channel (#98) (#103)
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

chore(release): v6.8.1 — ship the ml-dsa 0.1.1 seed-zeroize fix (#87) (#102)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(accord): v6.9.0 — general role-agnostic build/verify_membership_change (#104)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.9.0 — general role-agnostic build/verify_membership_change (#104) (#105)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.10.0 — accord:lifecycle:active reactivation scope (#95 Gap 1)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/humanity_accord.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.10.0 — accord:lifecycle:active reactivation scope (#95 Gap 1) (#106)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/humanity_accord.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.11.0 — pinned HUMANITY_ACCORD genesis recognition root (#107)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.11.0 — pinned HUMANITY_ACCORD genesis recognition root (#107) (#108)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(mission): MISSION.md v1.2 — add the HUMANITY_ACCORD kill-switch pillar
  MISSION.md
Due: none

docs(mission): MISSION.md v1.2 — add the HUMANITY_ACCORD kill-switch pillar (#109)
  MISSION.md
Due: none

docs(FSD-004): Q5 RESOLVED — constitutional grounding ratified in CC 0.3 §4.2.6
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

feat(keyring): v6.12.0 — pkcs11 (cryptoki) builds on all targets (feature parity)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
Due: cargo-lock-check, version-consistency

docs(accord): runbook §4.1 — add the REQUIRED slot-9c certificate step (PKCS#11 discovery)
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
Due: none

docs(accord): runbook §4.1 — add the REQUIRED slot-9c certificate step (PKCS#11 discovery) (#111)
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
Due: none

fix(deps): quinn-proto 0.11.14 → 0.11.15 (RUSTSEC-2026-0185, high)
  Cargo.lock
Due: none

feat(keyring): v6.12.0 — pkcs11 (cryptoki) builds on all targets (feature parity) (#110)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
Due: cargo-lock-check, version-consistency

fix(accord): v6.13.0 — real-hardware YubiKey provisioning blockers (#112, #113)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/pkcs11.rs
  src/ciris-verify-core/src/accord_custody_attestation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(accord): v6.13.0 — real-hardware YubiKey provisioning blockers (#112, #113) (#114)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/pkcs11.rs
  src/ciris-verify-core/src/accord_custody_attestation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

accord: real HUMANITY_ACCORD ceremony artifacts for baking the genesis root
  accord_ceremony_artifacts/README.md
  accord_ceremony_artifacts/custody_attestations/A1.json
  accord_ceremony_artifacts/custody_attestations/A2.json
  accord_ceremony_artifacts/custody_attestations/B1.json
  accord_ceremony_artifacts/custody_attestations/B2.json
  accord_ceremony_artifacts/custody_attestations/C1.json
  accord_ceremony_artifacts/custody_attestations/C2.json
  accord_ceremony_artifacts/holders/A1.json
  accord_ceremony_artifacts/holders/A2.json
  accord_ceremony_artifacts/holders/B1.json
  accord_ceremony_artifacts/holders/B2.json
  accord_ceremony_artifacts/holders/C1.json
  accord_ceremony_artifacts/holders/C2.json
  accord_ceremony_artifacts/humanity_accord_genesis.json
Due: none

accord: replace genesis with the full bakeable SignedCegObject
  accord_ceremony_artifacts/humanity_accord_genesis.json
Due: none

accord: README — genesis artifact is the full bakeable SignedCegObject
  accord_ceremony_artifacts/README.md
Due: none

feat(accord): v7.0.0 — the accord trio is real (custody attestation hash-commits the ML-DSA-65 pubkey, #116)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/accord_custody_attestation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v7.0.0 — the accord trio is real (custody attestation hash-commits the ML-DSA-65 pubkey, #116) (#119)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-verify-core/src/accord_custody_attestation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v7.1.0 — custody attestation -> persist attestation_evidence bridge (#117)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/types.rs
  src/ciris-verify-core/src/accord_custody_attestation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v7.1.0 — custody attestation -> persist attestation_evidence bridge (#117) (#120)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/types.rs
  src/ciris-verify-core/src/accord_custody_attestation.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): bake the HUMANITY_ACCORD genesis recognition root (#107)
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/genesis/founder_pubkeys.json
  src/ciris-verify-core/src/genesis/humanity_accord_genesis.json
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): v7.2.0 — bake the HUMANITY_ACCORD genesis recognition root
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

feat(accord): v7.2.0 — bake the HUMANITY_ACCORD genesis recognition root (#107) (#121)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/genesis/founder_pubkeys.json
  src/ciris-verify-core/src/genesis/humanity_accord_genesis.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
