Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

docs(accord): FSD-005 — The Humanity Accord (what & why)
  CLAUDE.md
  FSD/FSD-005_HUMANITY_ACCORD.md
Due: none

docs(accord): FSD-005 — The Humanity Accord (what & why) (#122)
  CLAUDE.md
  FSD/FSD-005_HUMANITY_ACCORD.md
Due: none

feat(transport): v7.3.0 — expose RNS destination_hash recompute on the wheel (#28 lift)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_rns_dest_hash.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_rns_dest_hash.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(transport): v7.3.0 — expose RNS destination_hash recompute on the wheel (#28 lift) (#123)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_rns_dest_hash.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_rns_dest_hash.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(scope-privacy): v7.4.0 — expose scope-native privacy derivations on the wheel (#82)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_scope_privacy.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_scope_privacy.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(scope-privacy): v7.4.0 — expose scope-native privacy derivations on the wheel (#82) (#124)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_scope_privacy.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_scope_privacy.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: adopt CIRISCache (GHCR cross-repo Rust cache) + pin toolchain (#126)
  .github/workflows/ci.yml
  rust-toolchain.toml
Due: none

fix(tpm): v7.5.0 — stop link-binding libtss2; keyring builds on musl (#127), wheel loads on bare hosts (#125)
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/mod.rs
  src/ciris-keyring/src/platform/tpm/detection.rs
  src/ciris-keyring/src/platform/tpm/keys.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/platform/tpm/signing.rs
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: adopt CIRISCache (GHCR cross-repo Rust cache) + pin toolchain (#126) (#128)
  .github/workflows/ci.yml
  rust-toolchain.toml
Due: none

fix(tpm): v7.5.0 — keyring builds on musl (#127) + wheel loads on bare hosts (#125) (#129)
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/mod.rs
  src/ciris-keyring/src/platform/tpm/detection.rs
  src/ciris-keyring/src/platform/tpm/keys.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/platform/tpm/signing.rs
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: adopt the canonical CIRISCache cross-repo key (CIRISServer#99)
  .github/workflows/ci.yml
Due: none

ci: fix canonical-key derivation under bash set -e (grep-absent-dep aborts)
  .github/workflows/ci.yml
Due: none

feat(tpm): ciris-tpm-plugin crate — C ABI + detection (dlopen stage 1, #130)
  Cargo.lock
  Cargo.toml
  src/ciris-tpm-plugin/Cargo.toml
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(tpm): ciris-tpm-plugin crate — C ABI + detection (dlopen stage 1, #130) (#132)
  Cargo.lock
  Cargo.toml
  src/ciris-tpm-plugin/Cargo.toml
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

ci: portable lowercasing in canonical-key step (macOS bash 3.2)
  .github/workflows/ci.yml
Due: none

ci: adopt the canonical CIRISCache cross-repo key (CIRISServer#99) (#131)
  .github/workflows/ci.yml
Due: none

feat(tpm): port seal/unseal into the plugin real backend (dlopen stage 2, #130)
  src/ciris-tpm-plugin/src/backend.rs
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm): port seal/unseal into the plugin real backend (dlopen stage 2, #130) (#133)
  src/ciris-tpm-plugin/src/backend.rs
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(keyring): v7.5.1 — sealed signers must not silently mint on re-open (#134)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/sealed_ed25519.rs
  src/ciris-keyring/src/sealed_mldsa65.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/federation_identity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): TPM plugin stage 3 — dlopen client (#130)
  Cargo.lock
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(keyring): v7.5.1 — sealed signers must not silently mint on re-open (#134) (#135)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/sealed_ed25519.rs
  src/ciris-keyring/src/sealed_mldsa65.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/federation_identity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): TPM plugin stage 3 — dlopen client (#130) (#136)
  Cargo.lock
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): TPM plugin stage 4a — plugin-backed secure blob storage (#130)
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(keyring): TPM plugin stage 4a — plugin-backed secure blob storage (#130) (#137)
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm): v7.6.0 — ship the runtime TPM plugin in the wheel (#130 culmination)
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, version-consistency

feat(tpm): v7.6.0 — ship the runtime TPM plugin in the wheel (#130 culmination) (#138)
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, version-consistency

fix(keyring): honest SE-vs-keychain custody log on macOS/iOS fallback (#139)
  src/ciris-keyring/src/storage/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(keyring): honest SE-vs-keychain custody log on macOS/iOS fallback (#139) (#140)
  src/ciris-keyring/src/storage/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm): #141 stage A — signer path over the plugin ABI v2
  Cargo.lock
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
  src/ciris-tpm-plugin/Cargo.toml
  src/ciris-tpm-plugin/src/backend.rs
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(tpm): #141 stage A — signer path over the plugin ABI v2 (#142)
  Cargo.lock
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
  src/ciris-tpm-plugin/Cargo.toml
  src/ciris-tpm-plugin/src/backend.rs
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(tpm): #141 stage B — PluginTpmSigner HardwareSigner + factory wiring
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/mod.rs
  src/ciris-keyring/src/platform/tpm_plugin_signer.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm): #141 stage B — PluginTpmSigner HardwareSigner + factory wiring (#143)
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/mod.rs
  src/ciris-keyring/src/platform/tpm_plugin_signer.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm): #141 stage C — quote/attestation over the plugin ABI v3
  src/ciris-keyring/src/platform/tpm_plugin_signer.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
  src/ciris-tpm-plugin/src/backend.rs
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm): #141 stage C — quote/attestation over the plugin ABI v3 (#144)
  src/ciris-keyring/src/platform/tpm_plugin_signer.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-keyring/tests/tpm_plugin_load.rs
  src/ciris-tpm-plugin/src/backend.rs
  src/ciris-tpm-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm)!: v8.0.0 — delete tss-esapi from ciris-keyring entirely (#141 stage D)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/examples/tpm_attest.rs
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/ios.rs
  src/ciris-keyring/src/platform/mod.rs
  src/ciris-keyring/src/platform/tpm/detection.rs
  src/ciris-keyring/src/platform/tpm/keys.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/platform/tpm/signing.rs
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-keyring/src/platform/tpm_plugin_signer.rs
  src/ciris-keyring/src/signer.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/storage/ios.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): v8.0.0 legacy-key handling — rotate-not-migrate + macOS SE clarity
  .github/workflows/post-release-verify.yml
  CLAUDE.md
  src/ciris-keyring/src/storage/ios.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tpm)!: v8.0.0 — delete tss-esapi from ciris-keyring; rotate-not-migrate (#141) (#146)
  .github/workflows/post-release-verify.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/examples/tpm_attest.rs
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-keyring/src/platform/ios.rs
  src/ciris-keyring/src/platform/mod.rs
  src/ciris-keyring/src/platform/tpm/detection.rs
  src/ciris-keyring/src/platform/tpm/keys.rs
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/quote.rs
  src/ciris-keyring/src/platform/tpm/signing.rs
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-keyring/src/platform/tpm_plugin_signer.rs
  src/ciris-keyring/src/signer.rs
  src/ciris-keyring/src/software.rs
  src/ciris-keyring/src/storage/ios.rs
  src/ciris-keyring/src/storage/mod.rs
  src/ciris-keyring/src/storage/tpm.rs
  src/ciris-keyring/src/storage/tpm_plugin_storage.rs
  src/ciris-keyring/src/tpm_plugin.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-ffi/Cargo.toml
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(accord): sync FSD-004 to CC 0.5 — ratified (§4.2.6) + expanded (CC 0.4 bias gradient, CC 0.5 reverse-quorum)
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

feat(accord): v8.1.0 — resumes_halt_id on the lifecycle:active preimage (CC 0.4 §4.2.1.3) + FSD-004 sync to CC 0.5
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/humanity_accord.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(accord): FSD-004 Q2/Q3/Q4 resolved — confirm the CC §4.2.6 defaults
  FSD/FSD-004_ACCORD_DECIMATION_RECOVERY.md
Due: none

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
