Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

feat(holonomic): v5.10.0 — CEG 1.0-RC14 §19.7 aggregation pyramid verifiers (#79); Verify authors the vectors
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/holonomic/aggregation.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/src/holonomic/preimage.rs
  src/ciris-verify-core/tests/conformance_vectors_v19_7.rs
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/aggregation_meta/canonical_bytes.json
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/descend/ordered_list.json
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/domain_separators.json
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/member_commitment/empty.json
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/member_commitment/single.json
  src/ciris-verify-core/tests/vectors/holonomic_v19_7/member_commitment/three_unsorted.json
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(holonomic): v5.11.0 — RC15/RC16 compliance + holonomic federation docs
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/FEDERATION_THREAT_MODEL.md
  docs/HOLONOMIC_SUBSTRATE.md
  docs/THREAT_MODEL.md
  src/ciris-verify-core/src/holonomic/aggregation.rs
  src/ciris-verify-core/src/holonomic/mod.rs
  src/ciris-verify-core/src/holonomic/wholeness_witness.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): v5.12.0 — #80 user-identity hardware custody + WebAuthn passkey presence
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-crypto/src/ecdsa.rs
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/user_identity.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/webauthn.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): v5.13.0 — #80 real YubiKey/PKCS#11 hardware signer (cryptoki)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/pkcs11.rs
  src/ciris-keyring/src/types.rs
  src/ciris-keyring/src/user_identity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(federation-threat-model): v1.5 — RC24 moderation-principal + RATCHET crc-v2 corridor
  docs/FEDERATION_THREAT_MODEL.md
Due: none

feat(self-at-login): v5.14.0 — hardware-rooted identity + WebAuthn presence ceremony (#63)
  .gitignore
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/self_at_login.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(identity): v6.0.0 — operator CLI for hardware-rooted federation identity (#63)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/FEDERATION_IDENTITY.md
  docs/FEDERATION_THREAT_MODEL.md
  docs/THREAT_MODEL.md
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/pkcs11.rs
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/ceg_outbox.rs
  src/ciris-verify-core/src/federation_self_record.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/self_at_login.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(identity): one-command provision + FFI/Python surface for federation identity (#63)
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_federation_identity.py
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(identity): seal the ML-DSA-65 half at rest in the TPM/SE (#71 wired into #63)
  docs/FEDERATION_IDENTITY.md
  docs/FEDERATION_THREAT_MODEL.md
  docs/THREAT_MODEL.md
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/ceg_outbox.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/self_at_login.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(fedcode): FSD-002 federation identity codes + label-fingerprint key_ids (#63)
  FSD/FSD-002_FEDERATION_IDENTITY_CODES.md
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(fedcode): hardware-free `fedcode` CLI — generate/inspect codes, QR, password-protected software keys
  Cargo.lock
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(deps): drop qrcode's default `image` feature — restores MSRV 1.86
  Cargo.lock
  src/ciris-verify-core/Cargo.toml
Due: cargo-lock-check, version-consistency

docs: refresh README for v6.0 + renumber fedcode FSD-002 → FSD-003 (numbering collision)
  FSD/FSD-003_FEDERATION_IDENTITY_CODES.md
  README.md
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/fedcode.rs
  src/ciris-verify-core/src/federation_identity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(manifest): pipeline-as-delegated-attester — build manifest as a CEG Contribution (drops steward key)
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/manifest_contribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(delegate+ci): v6.1.0 — delegate CLI, build-sign dual-emit, CI emits per-platform CEG manifests
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-build-tool/Cargo.toml
  src/ciris-build-tool/src/sign.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/self_at_login.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(delegate): v6.1.1 — YubiKey (pkcs11) granter path for `delegate`
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(manifest): v6.2.0 — consumer-side build-manifest Contribution verifier (#25)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_manifest_contribution.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(manifest): v6.2.0 — consumer-side build-manifest Contribution verifier (#25) (#81)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_manifest_contribution.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/manifest_contribution.rs
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_manifest_contribution.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(crypto): v6.3.0 — scope-native privacy crypto surface (#82)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/SCOPE_PRIVACY_NOTES.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/error.rs
  src/ciris-crypto/src/hmac.rs
  src/ciris-crypto/src/hpke.rs
  src/ciris-crypto/src/kdf.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-crypto/src/xchacha.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(crypto): v6.3.0 — scope-native privacy crypto surface (#82) (#83)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/SCOPE_PRIVACY_NOTES.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/error.rs
  src/ciris-crypto/src/hmac.rs
  src/ciris-crypto/src/hpke.rs
  src/ciris-crypto/src/kdf.rs
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/scope_privacy.rs
  src/ciris-crypto/src/xchacha.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.4.0 — HUMANITY_ACCORD genesis producer + `accord` CLI (CEG §9.1)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.4.0 — HUMANITY_ACCORD genesis producer + `accord` CLI (CEG §9.1) (#84)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(accord)!: v6.4.1 — genesis is the accord's 2/3 quorum, not unanimous
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(accord)!: v6.4.1 — genesis is the accord's 2/3 quorum, not unanimous (#85)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-verify-core/src/accord_genesis.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.5.0 — invocation concurrence flow + list/membership (CC 4.2.1)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.5.0 — invocation concurrence flow + list/membership (CC 4.2.1) (#86)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/accord_genesis.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): v6.6.0 — portable signature-wrapped ML-DSA-65 USB key mode
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/ml_dsa.rs
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/pqc.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(keyring): serde_json to common deps — usb_wrapped builds on all platforms
  src/ciris-keyring/Cargo.toml
Due: cargo-lock-check, version-consistency

feat(keyring): v6.6.0 — portable signature-wrapped ML-DSA-65 USB key mode (#88)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/ml_dsa.rs
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/lib.rs
  src/ciris-keyring/src/pqc.rs
  src/ciris-keyring/src/usb_wrapped_mldsa65.rs
  src/ciris-verify-core/src/bin/ciris_verify.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(identity): v6.6.1 — decouple ML-DSA seal alias from recorded key_id (#89)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_federation_identity.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(identity): v6.6.1 — decouple ML-DSA seal alias from recorded key_id (#89) (#90)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_federation_identity.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/federation_identity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(accord): v6.7.0 — accord-holder custody attestation (#91, safe-mesh floor)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_accord_custody.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/accord_custody_attestation.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_accord_custody.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

harden(accord): address adversarial review of the custody gate (#91)
  src/ciris-verify-core/src/accord_custody_attestation.rs
  src/ciris-verify-ffi/src/wheel_accord_custody.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(accord): physical-key validation harness for the custody gate (#91)
  src/ciris-verify-core/examples/validate_yubikey_attestation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(deps): pin time@0.3.41 to hold MSRV 1.86 (x509-parser transitive)
  Cargo.lock
Due: none

fix(deny): ignore RUSTSEC-2026-0009 (time RFC2822 DoS, path unreachable)
  .cargo/audit.toml
  deny.toml
Due: none

feat(accord): v6.7.0 — accord-holder custody attestation (#91, safe-mesh floor) (#92)
  .cargo/audit.toml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/_accord_custody.py
  bindings/python/pyproject.toml
  deny.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/examples/validate_yubikey_attestation.rs
  src/ciris-verify-core/src/accord_custody_attestation.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
  src/ciris-verify-ffi/src/wheel_accord_custody.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(accord): v6.7.1 — variable-length Yubico chain; validated on real FIPS key (#91)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/examples/validate_yubikey_attestation.rs
  src/ciris-verify-core/src/accord_custody_attestation.rs
  src/ciris-verify-ffi/src/wheel_accord_custody.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(accord): v6.7.1 — variable-length Yubico chain; validated on real FIPS key (#91) (#93)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/examples/validate_yubikey_attestation.rs
  src/ciris-verify-core/src/accord_custody_attestation.rs
  src/ciris-verify-ffi/src/wheel_accord_custody.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs(accord): runbook — PIV slot-9c provisioning + FIPS-approved-mode prep (#91)
  docs/ACCORD_KEY_GENESIS_RUNBOOK.md
Due: none

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
