Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

feat(keyring): add TPM-wrapped Ed25519 key storage for Linux/Windows
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/platform/tpm/mod.rs
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-keyring/src/software.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore: fix linting issues and bump to v1.1.4
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-keyring/src/software.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(logging): add structured VERIFY logging for UI automation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(integrity): show unexpected files list in diagnostics
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(attestation): wire TPM PCR quote for desktop L2 attestation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/engine.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/tpm_attest.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): recalculate levels on desktop when TPM detected
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(attestation): manifest cache + degradation detection (v1.1.9)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ci): use __TEXT hash for macOS dylibs in binary manifest (v1.1.9)
  .github/workflows/release.yml
Due: none

chore: bump to v1.1.10 for CI re-release
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(keyring): add hardware marker to prevent software fallback
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/Cargo.toml
  src/ciris-keyring/src/software.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(ffi): add await_key_registration for portal key activation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(keyring): add VERIFY logging to trace key persistence issues
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/android.rs
  src/ciris-keyring/src/software.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(ffi): add ATTESTATION_IN_PROGRESS error for concurrent key ops
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/ciris_verify/exceptions.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(keyring): handle orphaned key files gracefully on Android
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/android.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(ffi): add generate_key and auto-create ephemeral keys in attestation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): wrap has_key() in catch_unwind to prevent native crash
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(unified): use module_integrity for L4 attestation level
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(unified): missing files do not fail module_integrity check
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(unified): L4 uses module_integrity alone, not legacy python_integrity
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore(deps): update quinn-proto to 0.11.14 (fix RUSTSEC-2026-0037)
  Cargo.lock
Due: none

fix(ffi): L4 level calculation uses module_integrity in FFI layer
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(unified): don't double-count integrity checks when module_integrity runs
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

debug(ffi): add L5 calculation diagnostic logging
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): cache audit trail result for L5 level calculation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(keyring): prevent SIGSEGV when TPM key file doesn't exist
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/software.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): add defensive handling for log callback invocation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(keyring): check key_exists on all platforms before key access
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/software.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(manifest-cache): add hardware-signed manifest cache for offline L1
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/manifest_cache.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(manifest-cache): use BTreeMap for deterministic serialization
  src/ciris-verify-core/src/manifest_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(security): add hardware vulnerability detection for attestation level capping
  Cargo.lock
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/ciris_verify/types.py
  docs/THREAT_MODEL.md
  src/ciris-verify-core/src/hardware_info.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(security): add Qualcomm CVE-2026-21385 patch detection
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/hardware_info.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

docs: update documentation for v1.2.0+ hardware vulnerability detection
  CLAUDE.md
  docs/HOW_IT_WORKS.md
  docs/IMPLEMENTATION_ROADMAP.md
Due: none

docs(roadmap): mark Phase 2 Hardware Integration complete, add TODO tracker
  docs/IMPLEMENTATION_ROADMAP.md
Due: none

docs(roadmap): mark Phase 7 Integration and Final milestone complete
  docs/IMPLEMENTATION_ROADMAP.md
Due: none

fix(tpm): persist signing key blobs to prevent identity loss across sessions
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/tpm/wrapping.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

test(ffi): add hardware_info FFI tests, bump to 1.2.3
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(tpm): store ECDSA signature for deterministic AES key derivation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/tpm/wrapping.rs
  src/ciris-verify-core/src/hardware_info.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(tpm): auto-migrate legacy TPM1 format keys
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/tpm/wrapping.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat(wallet): add EVM wallet signing via secp256k1 key derivation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-crypto/Cargo.toml
  src/ciris-crypto/src/lib.rs
  src/ciris-crypto/src/secp256k1.rs
  src/ciris-keyring/src/software.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(keyring): simplify get_seed() for cross-platform CI compatibility
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  docs/HOW_IT_WORKS.md
  src/ciris-keyring/src/software.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
