Repository CIRISAI/CIRISVerify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

cargo-lock-check:
  name: Check Cargo.lock is current
  entry: scripts/hooks/check-cargo-lock.sh
  language: script
  pass_filenames: false

cargo-fmt:
  name: Rust format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust lib tests
  entry: cargo test --all --lib
  language: system
  pass_filenames: false

version-consistency:
  name: Check version consistency
  entry: scripts/hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

fix(ci): include version in manifest-tool cache key
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(ios): key persistence path and blocking network I/O
  src/ciris-keyring/src/software.rs
  src/ciris-verify-ffi/Cargo.toml
  src/ciris-verify-ffi/src/ios_sync.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

chore: bump to v0.8.17 for fresh manifest-tool build
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(attestation): accurate hardware_type, platform integrity, PQC, audit trail (v0.8.18)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/ios_sync.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat: Add iOS App Attest module mirroring Play Integrity
  src/ciris-verify-core/src/app_attest.rs
  src/ciris-verify-core/src/lib.rs
  src/ciris-verify-core/src/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(ffi): add App Attest FFI functions for iOS hardware attestation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: App Attest JSON field name + hardware type parsing (v0.9.0)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/app_attest.rs
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(test): widen timing leak test tolerance for CI runners
  src/ciris-verify-core/tests/it/security.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Log callback FFI, device attestation caching, 409 handling, iOS function manifests (v0.9.1)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/registry.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat: per-module Python hash validation with detailed mismatch reporting
  Cargo.toml
  bindings/python/ciris_verify/types.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

style: fix formatting
  src/ciris-verify-core/src/unified.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Python log callback + flexible path matching for module hashes
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/unified.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(python): log callback null pointer handling
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/ciris_verify/client.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix: Use actual hardware type for storage_mode instead of string parsing
  Cargo.lock
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ffi): auto-populate key_fingerprint from ed25519_signer
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(ffi): add panic guards to prevent crashes from keystore corruption
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/android.rs
  src/ciris-keyring/src/software.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: Android emulator detection, key_type naming, level calculation
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/audit.rs
  src/ciris-verify-core/src/security/platform.rs
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: clippy warnings and formatting
  Cargo.lock
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: L2 requires hardware platform + hardware-backed key
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: iOS simulator detection, App Attest nonce retry, target naming (v0.9.8)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-keyring/src/platform/factory.rs
  src/ciris-verify-ffi/src/constructor.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

feat: add level_pending flag for async platform checks
  src/ciris-verify-core/src/unified.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

bump: v0.9.9
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

chore: update Cargo.lock
  Cargo.lock
Due: none

fix: iOS binary self-verification — ship and hash .dylib, not .a (v0.10.0)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: iOS dylib install_name + dyld image lookup for function integrity (v0.10.1)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/security/function_integrity.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: iOS compute_self_hash uses dyld iteration instead of dladdr (v0.10.2)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: Hash __TEXT segment only for iOS/macOS binary verification (v0.10.3)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: Skip Mach-O header + load commands in __TEXT hash (v0.10.3)
  .github/workflows/release.yml
  src/ciris-verify-core/src/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(python): use c_void_p for ciris_verify_free to prevent memory corruption
  bindings/python/ciris_verify/client.py
Due: none

bump: v0.10.4
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix: resolve deadlock in anti-rollback revision check
  Cargo.lock
  Cargo.toml
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/cache.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: make FFI block_on calls thread-safe
  Cargo.lock
  Cargo.toml
  bindings/python/pyproject.toml
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix: Remove double ASLR slide in macOS/iOS function integrity base address
  Cargo.lock
  src/ciris-verify-core/src/security/function_integrity.rs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: use bundled Mozilla CA certs for DNS-over-HTTPS
  Cargo.lock
  Cargo.toml
  bindings/python/pyproject.toml
  src/ciris-verify-core/Cargo.toml
  src/ciris-verify-core/src/dns.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(dns): parallel DNS resolution with 3 approaches, matrix logging, cross-check
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/bin/ciris_verify.rs
  src/ciris-verify-core/src/dns.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

style: cargo fmt
  src/ciris-verify-core/src/dns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ffi): add 10-second hard cap on run_attestation to prevent network hangs
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Bump to v0.10.9
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
Due: cargo-lock-check, version-consistency

fix(http): aggressive timeouts for registry/HTTPS clients (3s connect, 8s read)
  Cargo.lock
  Cargo.toml
  bindings/python/ciris_verify/__init__.py
  bindings/python/pyproject.toml
  src/ciris-verify-core/src/https.rs
  src/ciris-verify-core/src/registry.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test, version-consistency

fix(jni): add null checks for JString parameters to prevent crash
  src/ciris-verify-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-lock-check: any of: Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  version-consistency: any of: (Cargo\.toml|pyproject\.toml|__init__\.py)$
